<div class="card-container">
    {%- if category && category_link %}
        <a href="{{ category_link }}" class="category">{{ category }}</a>
    {%- endif %}
    <a href="{{ link }}">
        <div class="card blog">
            <div class="media" style="background-image: url('{{ image }}')">
            </div>
            <div class="content">
                <p class="title">{{ title }}</p>
                <p class="subtitle">{{ subtitle }}</p>
                <p class="text bodycopy">{{ text | safe }}</p>
                {%- if tags %}
                    <p class="footer">{{ tags.join(' &middot; ') }}</p>
                {%- endif %}
            </div>
        </div>
    </a>
</div>