    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-group col-sm-8 col-md-7 col-md-offset-1">
                    <p class="title">tech.zalando</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="/blog">Blog</a></li>
<!--
                                <li><a href="working.html">Working @ Z</a></li>
                                <li><a href="#">Locations</a></li>
-->
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li><a href="/legal-notice.html">Legal Notice</a></li>
                                <li><a href="/terms-of-use.html">Terms of Use</a></li>
                                <li><a href="/privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-group col-sm-4 col-md-3">
                    <p class="title">zalando</p>
                    <ul>
                        <li><a href="#">Fashion &amp; Design</a></li>
                        <li><a href="#">Operations &amp; Logistics</a></li>
                        <li><a href="#">Marketing &amp; Communication</a></li>
                        <li><a href="#">Category &amp; Product Mgmt.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>