<footer>
    <div class="container">
        <div class="row">
            <div class="footer-group col-sm-6">
                <p class="title">tech.zalando</p>
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="{{ relative_path_to_root }}blog">Blog</a></li>
<!--
                            <li><a href="working.html">Working @ Z</a></li>
                            <li><a href="#">Locations</a></li>
-->
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li><a href="{{ relative_path_to_root }}legal-notice">Legal Notice</a></li>
                            <li><a href="{{ relative_path_to_root }}terms-of-use">Terms of Use</a></li>
                            <li><a href="{{ relative_path_to_root }}privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-group col-sm-3">
                <p class="title">zalando</p>
                <ul>
                    <li><a href="#">Fashion &amp; Design</a></li>
                    <li><a href="#">Operations &amp; Logistics</a></li>
                    <li><a href="#">Marketing &amp; Communication</a></li>
                    <li><a href="#">Category &amp; Product Mgmt.</a></li>
                </ul>
            </div>
            <div class="footer-group col-sm-3">
                <p class="title">Follow us</p>
                <a href="https://twitter.com/zalandotech" target="_blank" class="social-icon twitter">Twitter</a>
                <a href="https://plus.google.com/104128021648536785063/posts" target="_blank" class="social-icon google-plus">GooglePlus</a>
                <a href="#" target="_blank" class="social-icon instagram">Instagram</a>
                <a href="https://www.flickr.com/photos/zalandotech/" target="_blank" class="social-icon flickr">Flickr</a>
            </div>
        </div>
    </div>
</footer>
