<header class="navbar navbar-default navbar-fixed-top">
    <div class="cookie-bar table-hidden">
        <span class="cookie-warning">To fully enjoy our website, you will need to accept cookies. Clicking on the X will serve as confirmation that you accept. Learn more about our <a href="{{ relative_path_to_root }}privacy-policy.html">Cookie Policy</a>.</span>
        <button class="cookie-button">X</button>
    </div>
    <div class="container" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ relative_path_to_root }}index.html">Zalando.<br/>We dress code.</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#zalando-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar-1"></span>
                <span class="icon-bar bar-2"></span>
                <span class="icon-bar bar-3"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="zalando-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ relative_path_to_root }}"
                    {%- if active==='home' %} class="active" {%- endif %}
                    >Home</a>
                </li>
                <li>
                    <a href="{{ relative_path_to_root }}jobs"
                    {%- if active==='jobs' || active==="jobs-overview" %} class="active" {%- endif %}
                    >Jobs</a>
                </li>
<!--
                <li>
                    <a href="working.html">Working @ Z</a>
                </li>
-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle {%- if active==='locations' || active==='location' %} active {%- endif %}" data-toggle="dropdown" role="button" aria-expanded="false">Locations</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ relative_path_to_root }}locations/berlin">Berlin</a>
                        </li>
                        <li>
                            <a href="{{ relative_path_to_root }}locations/dublin">Dublin</a>
                        </li>
                        <li>
                            <a href="{{ relative_path_to_root }}locations/dortmund">Dortmund</a>
                        </li>
                        <li>
                            <a href="{{ relative_path_to_root }}locations/relocation">Relocation</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ relative_path_to_root }}blog"
                    {%- if active==='blog' || active==='blog-post' %} class="active" {%- endif %}
                    >Blog</a>
                </li>
            </ul>
        </div>
    </div>
</header>
