<div class="card-container">
    {%- if category && category_link %}
        <a href="{{ category_link }}" class="category">{{ category }}</a>
    {%- endif %}
    <a href="{{ relative_path_to_root }}{{ link }}">
        <div class="card job shrunken">
            <div class="media" style="background-image: url('{{ thumbnail }}')"></div>
            <div class="content">
                <p class="title">{{ title }}</p>
                <p class="subtitle">{{ subtitle }}</p>
                <p class="footer"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ locations }}</p>
            </div>
        </div>
    </a>
</div>