<h1>How did you end up here?</h1>
<p>After finishing my PhD at the RWTH Aachen University in the area open innovation and software development within communities, I was looking for a job, which will allow me to apply my research and practical experience in the best possible way. The product specialist position in Mönchengladbach  provides me with the best opportunity to design and guide the development of a broad spectrum of products applied directly in the logistics centre next to my office. I truly love the complexity of my tasks and the interdisciplinary nature of my work. Young and dynamic teams within Zalando let the innovation unfold – that was the main reason for me to join the company.
</p>
<h1>What are the best things about Mönchengladbach?</h1>
<div>
    <p>Our office is located next to the logistics centre. At any time you can experience the results of your efforts. Here, in Mönchengladbach, we have the shortest way to our end uses, which allows us to understand and satisfy their requirements in the best possible way.</p>
    <ul>
        <li>We are quite small but at the same time autonomous team. All team participants are actively involved in the process organisation.</li>
        <li>We have a canteen, which offers warm food almost the whole day through for less money</li>
        <li>We have enough parking slots, you will never have a problem to find one.</li>
    </ul>
</div>
<h1>What would you recommend for someone who just moved here?</h1>
<div>
    <p>Mönchengladbach contains many beautiful places to visit. Two castles belong to the city as there are the castle Wickrath and the palace Rheydt with a history starting in 1060. Nowadays it has a nice shopping-center in the center of the city containing many different brands. </p>
    <p>Another reason for Mönchengladbach is its geographic position. Cities around it can be reached in less than an hour. Take your time and visit the surroundings:</p>
    <ul>
        <li>In 30 minutes you arrive in colourful Netherlands cities: Roermond and Venlo</li>
        <li>In 40 minutes you arrive at the border triangle in Aachen (Germany/Belgium/Netherlands)</li>
        <li>In 1 h you arrive to Cologne with it famous Cologne Cathedral</li>
        <li>In about 2 hours you will arrive to: Amsterdam, Brussel, Luxemburg, and to the North Sea Shore.</li>
    </ul>
</div>


