<div class="card-container">
    <div class="card white person">
        <div class="media">
            <div class="image" style="background-image: url('{{ image }}')">
                <div class="flag" style="background-image: url('{{ relative_path_to_root }}images/flag_{{ nationality }}.png')"></div>
            </div>
        </div>
        <div class="content">
            <p class="text bodycopy">&quot;{{ quote }}&quot;</p>
            <p class="title">{{ name }}</p>
            <p class="subtitle">{{ title }}</p>
        </div>
        <div class="seperator"></div>
        <div class="second-content">
            <p class="second-title">Personal Tips</p>
            {%- for link in links %}
                <a class="link" href="{{ link }}">{{ link | replace('(http://|https://)','') | replace('www.','') }}</a>
            {%- endfor %}
        </div>
    </div>
</div>