button.default-button {
  display: block;
  background-color: #ffffff;
  color: #555555;
  border: 1px solid #aaaaaa;
  padding: 4px 16px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1.4rem; }
  button.default-button:hover {
    background-color: #555555;
    color: #ffffff; }
