.cards {
  padding: 0 0 20px 0; }

.card {
  display: block;
  background-color: #ffffff;
  margin-bottom: 20px;
  overflow: hidden;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
  .card.white {
    background: #ffffff; }
  .card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    -ms-transform: scale(1.02, 1.02);
    /* IE 9 */
    -webkit-transform: scale(1.02, 1.02);
    /* Chrome, Safari, Opera */
    transform: scale(1.02, 1.02); }
  .card.white:hover {
    background: #ffffff; }
  .card .media {
    height: 177px;
    background-size: cover;
    background-position: center center; }
  .card.blog .media {
    background-image: url('../images/blog.jpg'); }
  .card.job .media {
    background-image: url('../images/job.jpg'); }
  .card.opensource .media {
    background-image: url('../images/opensource.jpg'); }
  .card .content {
    padding: 24px 8px;
    position: relative;
    height: 270px;
    border-radius: 0 0 2px 2px;
    color: #222222;
    border: 1px solid #cccccc;
    border-width: 0 1px 1px 1px; }
    .card .content .title {
      font-size: 1.4rem;
      line-height: 1.7rem;
      text-transform: uppercase;
      margin: 0 16px 16px 16px; }
    .card .content .text {
      font-weight: 400;
      font-size: 1.4rem;
      margin: 0 16px 16px 16px; }
    .card .content .author {
      font-weight: 400;
      font-size: 1.2rem;
      letter-spacing: 0.03rem;
      margin: 0 16px;
      color: #555555; }
    .card .content .footer-position-bottom {
      display: block;
      position: absolute;
      bottom: 16px;
      left: 16px;
      right: 16px;
      z-index: 1000; }
  .card.small .content {
    height: 120px; }

.card-swipe {
  width: 100%;
  overflow: hidden; }
  .card-swipe .main-wrapper {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 320px; }
  .card-swipe .card {
    margin: 5px 10px; }
    .card-swipe .card .media {
      height: 100px; }
    .card-swipe .card .content {
      padding: 16px 0;
      height: 210px; }
      .card-swipe .card .content .text {
        font-size: 1.4rem;
        max-height: 82px;
        overflow: hidden; }
      .card-swipe .card .content .footer-position-bottom {
        display: none; }
    .card-swipe .card:hover {
      cursor: inherit;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      -ms-transform: inherit;
      /* IE 9 */
      -webkit-transform: inherit;
      /* Chrome, Safari, Opera */
      transform: inherit; }
