html {
  font-size: 10px; }

body {
  margin-top: 40px;
  background-color: #efefef;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  letter-spacing: 0.06em; }

.bodycopy {
  font-family: "CrimsonText-Regular", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.015em; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.heading-1 {
  font-size: 2.6rem;
  padding: 0 0 28px 0; }
  .heading-1.small {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.2rem;
    padding: 0 0 16px 0; }

header {
  margin: 0; }
  header.navbar-default {
    background-color: #efefef;
    border: 0;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); }
    header.navbar-default .navbar-brand, header.navbar-default .navbar-nav > li > a {
      color: #222222;
      text-transform: uppercase;
      -webkit-transition: color 0.1s, background-color 0.1s;
      transition: color 0.1s, background-color 0.1s;
      padding-left: 12px;
      padding-right: 0; }
    header.navbar-default .navbar-brand:hover, header.navbar-default .navbar-nav > li > a:hover {
      background-color: #ffffff;
      color: #f16a21; }
    header.navbar-default .navbar-brand:after, header.navbar-default .navbar-nav > li > a:after {
      display: inline-block;
      content: '';
      width: 1px;
      background-color: #aaaaaa;
      height: 12px;
      margin-left: 12px; }
    header.navbar-default .navbar-brand:after, header.navbar-default .navbar-nav > li:last-child > a:after {
      width: 0; }

.navbar-default .navbar-toggle {
  border: 0;
  background-color: transparent; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent; }
  .navbar-default .navbar-toggle .icon-bar {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .navbar-default .navbar-toggle .icon-bar.bar-1 {
    -moz-transform: rotate(45deg) translateX(4.243px) translateY(4.243px);
    -webkit-transform: rotate(45deg) translateX(4.243px) translateY(4.243px);
    -o-transform: rotate(45deg) translateX(4.243px) translateY(4.243px);
    -ms-transform: rotate(45deg) translateX(4.243px) translateY(4.243px);
    transform: rotate(45deg) translateX(4.243px) translateY(4.243px); }
  .navbar-default .navbar-toggle.collapsed .icon-bar.bar-1 {
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  .navbar-default .navbar-toggle .icon-bar.bar-2 {
    opacity: 0.0; }
  .navbar-default .navbar-toggle.collapsed .icon-bar.bar-2 {
    opacity: 1.0; }
  .navbar-default .navbar-toggle .icon-bar.bar-3 {
    -moz-transform: rotate(-45deg) translateX(4.243px) translateY(-4.243px);
    -webkit-transform: rotate(-45deg) translateX(4.243px) translateY(-4.243px);
    -o-transform: rotate(-45deg) translateX(4.243px) translateY(-4.243px);
    -ms-transform: rotate(-45deg) translateX(4.243px) translateY(-4.243px);
    transform: rotate(-45deg) translateX(4.243px) translateY(-4.243px); }
  .navbar-default .navbar-toggle.collapsed .icon-bar.bar-3 {
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }

.fullsize-container {
  width: 100%;
  padding: 28px 0 24px 0; }
  .fullsize-container.white {
    background-color: #ffffff;
    color: #222222; }
  .fullsize-container.light-gray {
    background-color: #ebebeb;
    color: #222222; }
  .fullsize-container.gray {
    background-color: #aaaaaa;
    color: #ffffff; }
  .fullsize-container.black {
    background-color: #222222;
    color: #ffffff; }
  .fullsize-container.philosophy {
    background-image: url('../images/philosophy.jpg');
    background-size: cover;
    background-position: center top;
    color: #ffffff; }

.fullsize-media {
  width: 100%;
  height: auto;
  max-height: 500px;
  position: relative;
  overflow: hidden; }
  .fullsize-media video {
    width: 100%;
    height: auto; }
  .fullsize-media .teaser {
    background-color: transparent;
    position: absolute;
    z-index: 1000;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .fullsize-media .teaser h1 {
      font-weight: 900;
      font-size: 7rem;
      color: #ffffff; }

.big-points {
  padding: 0 0 0 0; }

.big-point {
  display: block;
  width: 220px;
  margin: 0 auto 40px auto; }
  .big-point .icon {
    height: 220px;
    border-radius: 50%;
    background-color: transparent;
    margin-bottom: 10px;
    border: 3px solid #ffffff;
    -webkit-transition: -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
    transition: -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s; }
    .big-point .icon:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      -ms-transform: scale(1.15, 1.15);
      /* IE 9 */
      -webkit-transform: scale(1.15, 1.15);
      /* Chrome, Safari, Opera */
      transform: scale(1.15, 1.15); }
  .big-point .title {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase; }

footer {
  padding: 40px 0;
  background-color: #000000; }

.footer-group {
  padding: 0 20px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 1.6rem; }
  .footer-group .title {
    display: block;
    border-bottom: 1px solid #aaaaaa;
    color: #aaaaaa;
    text-transform: uppercase; }
  .footer-group ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .footer-group ul li {
      display: block;
      padding: 4px 0;
      margin: 0; }
      .footer-group ul li a {
        color: #ffffff; }
        .footer-group ul li a:hover {
          color: #f16a21;
          text-decoration: none; }
