@font-face {
  font-family: 'CrimsonText-Regular';
  src: url('../fonts/CrimsonText-Regular.ttf') format('truetype'); }

html {
  font-size: 10px; }

body {
  margin-top: 40px;
  background-color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.bodycopy {
  font-family: "CrimsonText-Regular", "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 1.8rem; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.heading-1 {
  font-weight: 300;
  font-size: 4.2rem;
  padding: 0 0 30px 0; }

header {
  margin: 0; }
  header.navbar-default {
    background-color: #333333;
    border: 0; }
    header.navbar-default .navbar-brand, header.navbar-default .navbar-nav > li > a {
      color: #dddddd;
      -webkit-transition: color 0.1s, background-color 0.1s;
      transition: color 0.1s, background-color 0.1s; }
    header.navbar-default .navbar-brand:hover, header.navbar-default .navbar-nav > li > a:hover {
      background-color: #f6f6f6;
      color: #fb9521; }

.navbar-default .navbar-toggle {
  border: 0;
  background-color: transparent; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent; }
  .navbar-default .navbar-toggle .icon-bar {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .navbar-default .navbar-toggle .icon-bar.bar-1 {
    -moz-transform: rotate(45deg) translateX(4.243px) translateY(4.243px);
    -webkit-transform: rotate(45deg) translateX(4.243px) translateY(4.243px);
    -o-transform: rotate(45deg) translateX(4.243px) translateY(4.243px);
    -ms-transform: rotate(45deg) translateX(4.243px) translateY(4.243px);
    transform: rotate(45deg) translateX(4.243px) translateY(4.243px); }
  .navbar-default .navbar-toggle.collapsed .icon-bar.bar-1 {
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }
  .navbar-default .navbar-toggle .icon-bar.bar-2 {
    opacity: 0.0; }
  .navbar-default .navbar-toggle.collapsed .icon-bar.bar-2 {
    opacity: 1.0; }
  .navbar-default .navbar-toggle .icon-bar.bar-3 {
    -moz-transform: rotate(-45deg) translateX(4.243px) translateY(-4.243px);
    -webkit-transform: rotate(-45deg) translateX(4.243px) translateY(-4.243px);
    -o-transform: rotate(-45deg) translateX(4.243px) translateY(-4.243px);
    -ms-transform: rotate(-45deg) translateX(4.243px) translateY(-4.243px);
    transform: rotate(-45deg) translateX(4.243px) translateY(-4.243px); }
  .navbar-default .navbar-toggle.collapsed .icon-bar.bar-3 {
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none; }

.fullsize-container {
  width: 100%;
  padding: 40px 0 40px 0; }
  .fullsize-container.white {
    background-color: #f6f6f6;
    color: #444444; }
  .fullsize-container.gray {
    background-color: #aaaaaa;
    color: #f6f6f6; }
  .fullsize-container.black {
    background-color: #444444;
    color: #f6f6f6; }

.fullsize-media {
  width: 100%;
  height: auto;
  max-height: 400px;
  position: relative;
  overflow: hidden; }
  .fullsize-media video {
    width: 100%;
    height: auto; }
  .fullsize-media .teaser {
    background-color: transparent;
    position: absolute;
    z-index: 1000;
    width: 100%;
    position: absolute;
    top: 20%;
    transform: translateY(-50%); }
    .fullsize-media .teaser h1 {
      font-weight: 400;
      font-size: 7rem;
      color: #f6f6f6; }

.cards {
  padding: 0 0 20px 0; }

.card {
  display: block;
  background: #cccccc;
  margin-bottom: 20px;
  overflow: hidden;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition: -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
  transition: -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s; }
  .card.white {
    background: #f9f9f9; }
  .card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
    background-color: #dddddd;
    -ms-transform: scale(1.02, 1.02);
    /* IE 9 */
    -webkit-transform: scale(1.02, 1.02);
    /* Chrome, Safari, Opera */
    transform: scale(1.02, 1.02); }
  .card.white:hover {
    background: #ffffff; }
  .card .media {
    height: 200px;
    background-size: cover;
    background-position: center center; }
  .card.blog .media {
    background-image: url('../images/workspace.jpg'); }
  .card.job .media {
    background-image: url('../images/coding.jpg'); }
  .card.opensource .media {
    background-image: url('../images/opensource.jpg'); }
  .card .content {
    padding: 24px 16px;
    position: relative;
    height: 200px;
    color: #444444; }
    .card .content .title {
      font-weight: 400;
      font-size: 3rem;
      text-transform: uppercase;
      margin: 0 0 16px 0; }
    .card .content .text {
      font-weight: 300;
      font-size: 1.6rem;
      margin: 0; }
    .card .content .footer {
      display: block;
      position: absolute;
      bottom: 16px;
      left: 16px;
      z-index: 1000;
      font-weight: 600;
      font-size: 1.4rem; }
  .card.small .content {
    height: 120px; }

.big-points {
  padding: 0 0 0 0; }

.big-point {
  display: block;
  width: 220px;
  margin: 0 auto 40px auto; }
  .big-point .icon {
    height: 220px;
    border-radius: 50%;
    background-color: #444444;
    margin-bottom: 10px;
    -webkit-transition: -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
    transition: -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s; }
    .big-point .icon:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      -ms-transform: scale(1.15, 1.15);
      /* IE 9 */
      -webkit-transform: scale(1.15, 1.15);
      /* Chrome, Safari, Opera */
      transform: scale(1.15, 1.15); }
  .big-point .title {
    text-align: center;
    font-weight: 300;
    font-size: 3rem; }

footer {
  padding: 40px 0;
  background-color: #444444; }

.footer-group {
  padding: 0 20px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 1.6rem; }
  .footer-group .title {
    display: block;
    border-bottom: 1px solid #aaaaaa;
    color: #aaaaaa;
    text-transform: uppercase; }
  .footer-group ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .footer-group ul li {
      display: block;
      padding: 4px 0;
      margin: 0; }
      .footer-group ul li a {
        color: #f6f6f6; }
        .footer-group ul li a:hover {
          color: #fb9521;
          text-decoration: none; }
