<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimal-ui" />
    <title>Zalando Tech</title>
    <meta name="description" content="This is the home of Zalando Tech. We dress code! Check out our job page for available positions.">
    <link href="/images/zalando.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/tech.zalando-all.css" />
</head>
<body>

    <header class="navbar navbar-default navbar-fixed-top">
        <div class="cookie-bar table-hidden">
            <span id="cookie-warning">This site uses cookies.<br />Please see our <a href="#">cookie policy</a> for more information.</span>
            <button id="cookie-button">X</button>
        </div>
        <div class="container" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Zalando.<br/>We dress code.</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#zalando-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar-1"></span>
                    <span class="icon-bar bar-2"></span>
                    <span class="icon-bar bar-3"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="zalando-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/jobs.html">Jobs</a>
                    </li>
                    <li>
                        <a href="/working.html">Working @ Z</a>
                    </li>
                    <li>
                        <a href="/locations.html">Location</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!--

        Teaser Video

    -->

    <!-- <div class="fullsize-media visible-lg-block">
        <div class="teaser">
            <div class="container">
                <div class="tech-zalando-logo"></div>
                <h1>Tech<br/>Blog</h1>
                <a class="play-button">Play</a>
            </div>
        </div> -->
        <!--
            supported formats:
            https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats

            2:35 - 2:50
        -->
        <!-- <video autoplay="" loop="loop" class="landing-video" muted="">
            <source src="http://client.fridolinschoepper.com/ZALANDO/Zalando_2.0_150324.mp4"></source>
        </video>
    </div>

    <div class="fullsize-media home-video-bg visible-md-block visible-sm-block visible-xs-block">
        <div class="teaser">
            <div class="container">
                <div class="tech-zalando-logo"></div>
                <h1>Tech<br/>Blog</h1>
                <a class="play-button">Play</a>
            </div>
        </div>
    </div> -->

    <!--

        Sub Menu

    -->

    <div class="fullsize-container light-gray">
        <div class="container">
            <div class="row sub-menu">
                <div class="col-md-3">
                    <button class="default-button full-size color-zalando">Tech &amp; Team</button>
                </div>
                <div class="col-md-3">
                    <button class="default-button full-size color-zalando">Events</button>
                </div>
                <div class="col-md-3">
                    <button class="default-button full-size color-zalando">Open-Source</button>
                </div>
                <div class="col-md-3">
                    <button class="default-button full-size color-zalando">Tech Talks</button>
                </div>
            </div>
        </div>
    </div>

    <!--

        Tech Blog

    -->

    <div class="fullsize-container light-gray">
        <div class="container">

            <div class="row cards">
                <div class="col-md-4">
                    <div class="card-container">
                        <div class="card blog">
                            <div class="media"></div>
                            <div class="content">
                                <p class="title">We launched it! Zalando space shoe.</p>
                                <p class="subtitle">by Rodrigo Reis - March 2015</p>
                                <p class="text bodycopy">February 21, 2015 marked another milestone in the success story of Zalando: we sent a shoe into the stratosphere!</p>
                                <p class="footer"><a href="#">Blog Post</a></p>
                                <div class="footer-position-bottom">
                                    <button class="default-button pull-right">More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-container">
                        <div class="card blog">
                            <div class="media"></div>
                            <div class="content">
                                <p class="title">How to hack like a Jedi</p>
                                <p class="subtitle">by Rodrigo Reis - March 2015</p>
                                <p class="text bodycopy">February 21, 2015 marked another milestone in the success story of Zalando: we sent a shoe into the stratosphere!</p>
                                <p class="footer"><a href="#">Blog Post</a></p>
                                <div class="footer-position-bottom">
                                    <button class="default-button pull-right">More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-container">
                        <div class="card blog">
                            <div class="media"></div>
                            <div class="content">
                                <p class="title">Hack week: How the jury decides for the awards</p>
                                <p class="subtitle">by Thomas Kugel - December 2014</p>
                                <p class="text bodycopy">I am a member of the Hack Week
jury...</p>
                                <p class="footer"><a href="#">Blog Post</a></p>
                                <div class="footer-position-bottom">
                                    <button class="default-button pull-right">More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row cards">
                <div class="col-md-4">
                    <div class="card-container">
                        <div class="card blog">
                            <div class="media"></div>
                            <div class="content">
                                <p class="title">We launched it! Zalando space shoe.</p>
                                <p class="subtitle">by Rodrigo Reis - March 2015</p>
                                <p class="text bodycopy">February 21, 2015 marked another milestone in the success story of Zalando: we sent a shoe into the stratosphere!</p>
                                <p class="footer"><a href="#">Blog Post</a></p>
                                <div class="footer-position-bottom">
                                    <button class="default-button pull-right">More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-container">
                        <div class="card blog">
                            <div class="media"></div>
                            <div class="content">
                                <p class="title">How to hack like a Jedi</p>
                                <p class="subtitle">by Rodrigo Reis - March 2015</p>
                                <p class="text bodycopy">February 21, 2015 marked another milestone in the success story of Zalando: we sent a shoe into the stratosphere!</p>
                                <p class="footer"><a href="#">Blog Post</a></p>
                                <div class="footer-position-bottom">
                                    <button class="default-button pull-right">More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-container">
                        <div class="card blog">
                            <div class="media"></div>
                            <div class="content">
                                <p class="title">Hack week: How the jury decides for the awards</p>
                                <p class="subtitle">by Thomas Kugel - December 2014</p>
                                <p class="text bodycopy">I am a member of the Hack Week
jury...</p>
                                <p class="footer"><a href="#">Blog Post</a></p>
                                <div class="footer-position-bottom">
                                    <button class="default-button pull-right">More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="card-swipe visible-xs-block">
            <div data-swipe-source="home-blog-swipe-cards" class="wrapper"></div>
        </div> -->

    </div>

    <!--

        Footer

    -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-group col-sm-6">
                    <p class="title">tech.zalando</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul>
                                <li><a href="#">Tech Jobs</a></li>
                                <li><a href="working.html">Working @ Z</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Locations</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li><a href="#">Imprint</a></li>
                                <li><a href="#">Privacy Police</a></li>
                                <li><a href="#">Terms &amp; Agreements</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-group col-sm-3">
                    <p class="title">zalando</p>
                    <ul>
                        <li><a href="#">Fashion &amp; Design</a></li>
                        <li><a href="#">Operations &amp; Logistics</a></li>
                        <li><a href="#">Marketing &amp; Communication</a></li>
                        <li><a href="#">Category &amp; Product Mgm.</a></li>
                    </ul>
                </div>
                <div class="footer-group col-sm-3">
                    <a href="https://twitter.com/zalandotech" class="social-icon twitter">Twitter</a>
                    <a href="https://plus.google.com/104128021648536785063/posts" class="social-icon google-plus">GooglePlus</a>
                    <a href="#" class="social-icon instagram">Instagram</a>
                    <a href="https://www.flickr.com/photos/zalandotech/" class="social-icon flickr">Flickr</a>
                </div>
            </div>
        </div>
    </footer>

    <script async src="/js/tech.zalando-all.js"></script>

</body>
</html>
