{% set blogpost = prismic.blogpost | to_blogpost_viewmodel(prismic.authors, prismic.rstblogpost, prismic.mdblogpost) %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': blogpost.title,
        'description': blogpost.description
    } %}

    <meta property="og:type" content="article">
    <meta property="og:url" content="https://tech.zalando.com/blog/{{ blogpost.slug }}">
    <meta property="og:image" content="{{ blogpost.thumbnail }}">
</head>
<body>

    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'blog-post' } %}


    <div class="fullsize-media">
        <div class="blog-post-picture">
            <div class="wrapper" id="scene">
                <div class="inner layer" data-depth="0.20" style="background-image:url('{{ blogpost.image }}')"></div>
            </div>
        </div>
        <div class="blog-post-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h1 class="title">
                            {{ blogpost.title }}
                        </h1>
                        <p class="subtitle">
                            by  {{ blogpost.authorNames.join(', ') }} - {{ blogpost.date }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--

        Post Content

    -->

    <div class="fullsize-container white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="blog-post-content">
                        {{ blogpost.content | safe }}
                    </div>
                    <div class="blog-post-footer">
                        <div class="row">
                            <div class="col-sm-4">
                                {%- for author in blogpost.authors %}
                                    <div class="author">
                                        <div class="picture" style="background-image:url('{{ author.thumbnail }}');"></div>
                                        <p>{{ author.fullName }}</p>
                                        <p class="title">{{ author.title }}</p>
                                    </div>
                                {%- endfor %}
                            </div>
                            <div class="col-sm-8">
                                <div class="tags">
                                    {%- for tag in blogpost.tags %}
                                        <span class="tag">{{ tag }}</span>
                                    {%- endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include '../src/partials/share_buttons.html' with {
                share_url: 'http://tech.zalando.com/blog/' + blogpost.slug,
                share_title: blogpost.title
            } %}
        </div>
    </div>

    <!--

        Footer

    -->

    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script async src="../../js/tech.zalando-all.js"></script>
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>

</body>
</html>
