{% set blogpost = prismic.blogpost | to_blogpost_viewmodel(prismic.authors, prismic.rstblogpost, prismic.mdblogpost) %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
    <meta property="og:title" content="{{ blogpost.title }}">
    <meta property="og:description" content="{{ blogpost.locations }}">
    <meta property="og:url" content="https://tech.zalando.com/jobs/{{ blogpost.id }}">
    <meta property="og:image" content="{{ blogpost.thumbnail }}">
</head>
<body>

    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'blog-post' } %}


    <div class="fullsize-media">
        <div class="blog-post-picture">
            <div class="wrapper" id="scene">
                <div class="inner layer" data-depth="0.20" style="background-image:url('{{ blogpost.image }}')"></div>
            </div>
        </div>
        <div class="blog-post-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h1 class="title">
                            {{ blogpost.title }}
                        </h1>
                        <p class="subtitle">
                            by  {{ blogpost.authorNames.join(', ') }} - {{ blogpost.date }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--

        Post Content

    -->

    <div class="fullsize-container white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="blog-post-content">
                        {{ blogpost.content | safe }}
                    </div>
                    <div class="blog-post-footer">
                        <div class="row">
                            <div class="col-sm-4">
                                {%- for author in blogpost.authors %}
                                    <div class="author">
                                        <div class="picture" style="background-image:url('{{ author.thumbnail }}');"></div>
                                        <p>{{ author.fullName }}</p>
                                        <p class="title">{{ author.title }}</p>
                                    </div>
                                {%- endfor %}
                            </div>
                            <div class="col-sm-8">
                                <div class="tags">
                                    {%- for tag in blogpost.tags %}
                                        <span class="tag">{{ tag }}</span>
                                    {%- endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="col-sm-6 fb-like" data-href="https://tech.zalando.de/blog/{{ author.blogpost.slug }}" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
                    <a href="https://tech.zalando.de/blog/{{ author.blogpost.slug }}" class="twitter-share-button">Tweet Zalando Tech Article</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>
        </div>
    </div>

    <!--

        Footer

    -->

    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script async src="../../js/tech.zalando-all.js"></script>
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>

</body>
</html>
