<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech Blog',
        'description': 'Zalando Tech Blog'
    } %}
</head>
<body>

    <!-- Header -->
    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'blog' } %}

    <!-- Teaser image -->
    <div class="fullsize-media picture-bg" style="background-image: url('{{ relative_path_to_root }}images/blog_header.jpg'); background-position: 5% 15%;">
        <div class="teaser">
            <div class="container">
                <div class="content">
                    <h1 class="title">Tech Blog</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Tech Blog -->
    <div id="blog-posts-content">
        <div class="fullsize-container light-gray">
            <div class="container">
                <div class="cards elements-spacing">
                    {% set emptyCardsArray = Array(12) %}
                    {% for _ in emptyCardsArray %}
                        <div class="card-container">
                            <div class="card blog">
                                <div class="media">
                                </div>
                                <div class="content">
                                </div>
                            </div>
                        </div>
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script src="https://fb.me/react-with-addons-0.13.3.min.js"></script>
    <script src="{{ relative_path_to_root }}js/data/store.js"></script>
    <script src="{{ relative_path_to_root }}js/tech.zalando-app.js"></script>
    <script src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>

</body>
</html>
