{% set blogposts_viewmodel = prismic.blogposts | to_blogposts_viewmodel(prismic.authors, prismic.rstblogposts) %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
</head>
<body>

    <!-- Header -->
    {% include "../src/partials/header.html" with { 'relative_path_to_root': '../', 'active': 'blog' } %}

    <!-- Teaser image -->
    <div class="fullsize-media picture-bg" style="background-image: url('{{ relative_path_to_root }}images/blog_header.jpg'); background-position: 5% 15%;">
        <div class="teaser">
            <div class="container">
                <div class="content">
                    <h1 class="title">Tech Blog</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Sub Menu -->
    <!-- <div class="fullsize-container light-gray">
        <div class="container">
            <div class="row sub-menu">
                <div class="col-md-3">
                    <button class="default-button full-size color-zalando">Tech &amp; Team</button>
                </div>
                <div class="col-md-3">
                    <button class="default-button full-size color-zalando">Events</button>
                </div>
                <div class="col-md-3">
                    <button class="default-button full-size color-zalando">Open-Source</button>
                </div>
                <div class="col-md-3">
                    <button class="default-button full-size color-zalando">Tech Talks</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Tech Blog -->
    <div class="fullsize-container light-gray">
        <div class="container">
            <div class="cards element-spacing">

                {%- for blogpost in blogposts_viewmodel %}

                {% include "../src/partials/blogpost_card.html" with {
                    'link': '../blog/' + blogpost.id + '/' + blogpost.slug,
                    'image': blogpost.image,
                    'title': blogpost.title,
                    'subtitle': 'by ' + blogpost.authorNames.join(', ') + ' - ' + blogpost.date,
                    'text': blogpost.description,
                    'tags': null,
                    'category': null,
                    'category_link': null
                } %}

                {%- endfor %}

            </div>
        </div>

    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': '../' } %}

    <script async src="../js/tech.zalando-all.js"></script>

</body>
</html>
