<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimal-ui" />
    <title>Zalando Tech</title>
    <meta name="description" content="This is the home of Zalando Tech. We dress code! Check out our job page for available positions.">
    <link href="../../../images/zalando.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="../../../css/tech.zalando-all.css" />
</head>
<body>

    {% include "../src/partials/header.html" %}

    {%- for result in prismic.blogpost.results %}{# Hack to assign ...results[0] to a named var #}

    <!--

        Blog Picture

    -->

    <div class="fullsize-media picture-bg" style="background-image:url('{{ result.data.image.json.main.url }}')">
        <div class="blog-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h1 class="title">{{ result.data.title.json.blocks[0].text }}</h1>
                        <p class="subtitle">by {{  }} - {{ result.data.date.json.value|date('F Y') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--

        Post Content

    -->

    <div class="fullsize-container white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="blog-post-content">
                        {{ result.data.body.html|safe|replace("``([^`]*)``","<code>$1</code>","g") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%- endfor %}

    <!--

        Footer

    -->

    {% include "../src/partials/footer.html" %}



    <script async src="../../../js/tech.zalando-all.js"></script>

</body>
</html>
