<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zalando Tech</title>
    <meta name="description" content="This is the home of Zalando Tech. We dress code! Check out our job page for available positions.">
    <link href="../images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="../css/tech.zalando-all.css" />
</head>
<body>

    {% include "../src/partials/header.html" with { 'relative_path_to_root': '../', 'active': '' } %}

    {%- for result in prismic.docs.results %}{# Hack to assign ...results[0] to a named var #}

    <div class="fullsize-container light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    {{ result.data.title.html|safe }}
                    {{ result.data.content.html|safe }}
                </div>
            </div>
        </div>
    </div>
    {%- endfor %}

    {% include "../src/partials/footer.html" with { 'relative_path_to_root': '../' } %}

    </div>
    <script async src="../js/tech.zalando-all.js"></script>

</body>
</html>
