{% set doc = prismic.docs | to_doc_viewmodel %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
</head>
<body>

    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': '' } %}

    <div class="fullsize-container light-gray">
        <div class="container">
            <h1 class="heading-1 element-spacing">{{ doc.title }}</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="blog-post-content element-spacing">
                        {{ doc.content | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script async src="../js/tech.zalando-all.js"></script>

</body>
</html>
