{% set blogposts_viewmodel = prismic.blogposts | to_blogposts_viewmodel(prismic.authors) %}
{% set jobs_viewmodel = greenhouse.jobs | to_jobs_viewmodel({ limit: 3, sortOrder: 'updated', removeHidden: true}) %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
</head>
<body>

    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'home' } %}

    <!-- Background video -->
    <div class="fullsize-media visible-lg-block">
        <div class="teaser">
            <div class="content video">
                <div class="container">
                    <div class="tech-zalando-logo"></div>
                    <h1 class="title with-logo">WE DRESS<br/>CODE!</h1>
                    <a href="#" id="play-home-video" class="default-button color-transparent play">Watch Video</a>
                </div>
            </div>
        </div>
        <video id="background-video" autoplay="" loop="loop" class="landing-video" muted="">
            <source src="{{ relative_path_to_root }}videos/zalando_tech_home_loop.mp4" type='video/mp4'></source>
            <source src="{{ relative_path_to_root }}videos/zalando_tech_home_loop.webm" type='video/webm'></source>
        </video>
    </div>
    <!-- Video Overlay -->
    <div class="overlay-background" id="video-overlay">
        <div class="video">
            <video id="home-video" class="video-js vjs-default-skin" controls preload="auto">
                <source src="{{ relative_path_to_root }}videos/zalando_tech_home.mp4" type='video/mp4' />
                <source src="{{ relative_path_to_root }}videos/zalando_tech_home.webm" type='video/webm' />
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
            <a href="#" class="close-button" id="stop-home-video"></a>
        </div>
    </div>
    <!-- On mobile just show a background picture -->
    <div class="fullsize-media mobile visible-md-block visible-sm-block visible-xs-block">
        <video id="home-video-mobile" class="mobile video-js vjs-default-skin" preload="none" controls poster="{{ relative_path_to_root }}images/home_video_poster.jpg">
            <source src="{{ relative_path_to_root }}videos/zalando_tech_home.mp4" type='video/mp4' />
            <source src="{{ relative_path_to_root }}videos/zalando_tech_home.webm" type='video/webm' />
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
    </div>

    <!-- Tech Blog -->
    <div class="fullsize-container light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="heading-1 element-spacing"><a href="./blog">Tech Blog</a></h1>
                    <h2 class="heading-2 element-spacing">Visit our tech blog to learn more about the engineering and ideas driving Zalando’s exciting work. Here’s where we post technical talks and tips, news about our open source projects, event photos, and much more.</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cards element-spacing">

                {%- for blogpost in blogposts_viewmodel %}

                {% include "../src/partials/blogpost_card.html" with {
                    'link': './blog/' + blogpost.slug,
                    'image': blogpost.image,
                    'title': blogpost.title,
                    'subtitle': 'by ' + blogpost.authorNames.join(', ') + ' - ' + blogpost.date,
                    'text': blogpost.description,
                    'tags': null,
                    'category': null,
                    'category_link': null
                } %}

                {%- endfor %}

            </div>
        </div>
        <div class="container text-center">
            <a href="./blog/" class="default-button color-zalando element-spacing">Check out the blog</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                <div class="seperator"></div>
            </div>
        </div>
    </div>

    <!-- Open Source -->
    <div class="fullsize-container light-gray">
        <!-- <div class="element-spacing"></div> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="heading-1 element-spacing">Open Source</h1>
                    <h2 class="heading-2 element-spacing">Zalandos are passionate about collaboration and giving back to the community. Check out our open source projects to learn more about the technologies we are contributing to and building.</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cards element-spacing">

                {% include "../src/partials/opensource_card.html" with {
                    'link': 'http://stups.io',
                    'image': './images/stups.png',
                    'title': 'STUPS',
                    'text': 'The STUPS platform is a set of tools and components to provide a convenient and audit-compliant Platform-as-a-Service (PaaS) for multiple autonomous teams on top of Amazon Web Services (AWS). ',
                    'tags': ['STUPS', 'AWS']
                } %}

                {% include "../src/partials/opensource_card.html" with {
                    'link': 'https://github.com/zalando/MapleBacon',
                    'image': './images/maple.jpg',
                    'title': 'MapleBacon',
                    'text': 'MapleBacon is a Swift image download and caching library.',
                    'tags': ['iOS', 'Swift']
                } %}

                {% include "../src/partials/opensource_card.html" with {
                    'link': 'https://github.com/zalando/gulp-check-unused-css',
                    'image': './images/css3.png',
                    'title': 'Check unused CSS',
                    'text': 'A gulp package to check if all your defined CSS classes are used in your HTML files and vice versa. ',
                    'tags': ['gulp', 'CSS']
                } %}

            </div>
        </div>
        <div class="container text-center">
            <a href="https://github.com/zalando" target="_blank" class="default-button color-zalando element-spacing">Check out our repositories</a>
        </div>
    </div>

    <!-- Radical Agility -->
    <div class="fullsize-container radical-agility">
        <div class="spacing-top-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h1 class="heading-1 element-spacing">What is Zalando?</h1>
                        <h2 class="heading-2 element-spacing">Zalando is Europe’s leading online fashion platform, with more than 15 million customers in 15 countries. Our department has built most of our platform in-house, using open source and cutting-edge technologies such as Scala, Cassandra, Clojure, and React.js. We work in small, agile, autonomous teams and follow principles that enable us to produce the most delightful shopping experiences possible.</h2>
                        <div class="element-spacing"></div>
                        <h1 class="heading-1 element-spacing">How do we work?</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="cards element-spacing">

                    <div class="card-container">
                        <div class="card radical-agility-2">
                            <div class="icon purpose"></div>
                            <div class="content">
                                <p class="title">Purpose</p>
                                <p class="text">Know the why behind what you do and build</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card radical-agility-2">
                            <div class="icon autonomy"></div>
                            <div class="content">
                                <p class="title">Autonomy</p>
                                <p class="text">The freedom to solve hard problems in original ways</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card radical-agility-2">
                            <div class="icon mastery"></div>
                            <div class="content">
                                <p class="title">Mastery</p>
                                <p class="text">Gain knowledge to build your career at Zalando and beyond</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container text-center">
                <a href="{{ relative_path_to_root }}working-at-z" class="default-button center color-transparent element-spacing">Learn more about our culture</a>
            </div>
        </div>
    </div>

    <!-- Jobs -->
    <div class="fullsize-container light-gray">
        <div class="container">
            <h1 class="heading-1 element-spacing"><a href="{{ relative_path_to_root }}jobs">Apply Now to Join Zalando Tech</a></h1>
        </div>
        <div class="container">
            <div class="cards element-spacing">

                {%- for job in jobs_viewmodel %}

                {% include "../src/partials/job_card.html" with {
                    'link': job.link,
                    'thumbnail': relative_path_to_root + job.thumbnail,
                    'title': job.title,
                    'subtitle': job.department,
                    'locations': job.locations,
                    'category': job.firstCategory,
                    'category_link': './jobs'
                } %}

                {%- endfor %}

            </div>
        </div>

        <div class="container text-center">
            <a href="{{ relative_path_to_root }}jobs" class="default-button color-zalando element-spacing">See more jobs</a>
        </div>
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script async src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>

</body>
</html>
