{% set job_viewmodel = greenhouse.jobs | to_job_viewmodel %}

<!doctype html>
<html class="no-js" lang="en">
<head prefix="og: http://ogp.me/ns#">
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': job_viewmodel.title,
        'description': 'Come work as a ' + job_viewmodel.title + ' at Zalando Tech in ' + job_viewmodel.locations,
        'keywords': 'Zalando Tech, ' + job_viewmodel.title + ', ' + job_viewmodel.locations,
        'meta_properties': {
            'og:url': 'https://tech.zalando.com/jobs/' + job_viewmodel.id,
            'og:image': 'https://tech.zalando.com/' + job_viewmodel.thumbnail,
            'og:image:width': 560,
            'og:image:height': 373
        }
    } %}
</head>
<body>

    <!-- Header -->
    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'jobs' } %}

    <div class="fullsize-container white">
        <div class="container">

            <div class="element-spacing">
                <ul class="breadcrumb">
                    <li><a href="{{ relative_path_to_root }}jobs">Jobs</a></li>
                    {%- if job_viewmodel.firstCategoryId!=='hidden' %}
                        <li><a href="{{ relative_path_to_root }}jobs/{{ job_viewmodel.firstCategoryId }}">{{ job_viewmodel.firstCategory }}</a></li>
                    {%- endif %}
                    <li class="active">{{ job_viewmodel.title }}</li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="application-header">
                        <p class="locations">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ job_viewmodel.locations }}
                        </p>
                        <h1 class="heading-1">{{ job_viewmodel.title }}</h1>
                        <h2 class="heading-2">{{ job_viewmodel.department }}</h2>
                    </div>

                    <div class="visible-sm-block visible-xs-block element-spacing">
                        <a href="#apply" class="default-button color-zalando">Apply</a>
                    </div>

                    <div class="application-content">
                        {{ job_viewmodel.content | safe }}
                    </div>

                    {% include '../src/partials/share_buttons.html' with {
                        share_url: 'http://tech.zalando.com/jobs/' + job_viewmodel.id,
                        share_title: job_viewmodel.title
                    } %}
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <a class="anchor" id="apply"></a>

                    <div class="application-header apply">
                        <h1 class="heading-1">Apply Now</h1>
                    </div>

                    <div class="application-header visible-sm-block visible-xs-block">
                        <p class="locations">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ job_viewmodel.locations }}
                        </p>
                        <h1 class="heading-1">{{ job_viewmodel.title }}</h1>
                        <h2 class="heading-2">{{ job_viewmodel.department }}</h2>
                    </div>

    <form class="job-application-form" accept-charset="UTF-8" action="https://tech.workplace.zalan.do/jobs/apply" enctype="multipart/form-data" id="application_form" method="post">
        <input type="hidden" name="id" value="{{ job_viewmodel.id }}" />
        <input type="hidden" name="mapped_url_token" value="{{ job_viewmodel.id }}" />

        <div class="required-fields-hint">
            <span class="required-field-asterisk">*</span> Required
        </div>

        <hr>

        {% for question in job_viewmodel.questions -%}
        {% set question_class = 'job-application-question-' + loop.index -%}
        <div class="job-application-question {{ question_class }}">
            <label class="job-application-label">
                {{ question.label }}
                {%- if question.required %} <span class="required-field-asterisk">*</span>{% endif %}
            </label>
            {%- for field in question.fields %}

            {%- if field.type === 'input_text' %}
            <input id="{{ field.name }}" name="{{ field.name }}"{%- if question.required %} required="required"{% endif %} class="job-application-input job-application-field" type="text">
            {%- endif %}

            {%- if field.type === 'textarea' %}
            <div class="job-application-field">
                <div class="job-application-btn" onclick="$('#{{ field.name }}').toggleClass('hide')">Paste</div>
                <textarea id="{{ field.name }}" name="{{ field.name }}" class="job-application-input job-application-textarea hide"></textarea>
            </div>
            {%- endif %}

            {%- if field.type === 'input_file' %}
            <div class="job-application-btn job-application-field">
                <span>Attach</span>
                <input id="{{ field.name }}" name="{{ field.name }}" class="job-application-file" type="file" onchange="if (this.value) { var $q = $('.{{ question_class }}'); $q.find('.jobapp-chosen-file').removeClass('hide').find('.jobapp-filename').text(this.value); $q.find('.job-application-field').addClass('hide'); }">
            </div>
            {%- endif %}

            {%- if field.type === 'multi_value_single_select' || field.type === 'multi_value_multi_select' %}
            <select id="{{ field.name }}" name="{{ field.name }}"{%- if field.type === 'multi_value_multi_select' %} multiple="multiple"{% endif %} {%- if question.required %} required="required"{% endif %} class="job-application-input  job-application-field" type="text">
                {%- if field.type === 'multi_value_single_select' %}<option disabled="disabled" selected="selected">Please select</option>{% endif %}
                {%- for option in field.values %}
                <option value="{{ option.value }}">{{ option.label }}</option>
                {%- endfor %}
            </select>
            {%- endif %}
            {%- endfor %}

            <div class="jobapp-chosen-file hide">
                <span class="jobapp-filename"></span>
                <span class="jobapp-removefile" onclick="var $q = $('.{{ question_class }}'); $q.find('.jobapp-chosen-file').addClass('hide'); $q.find('.job-application-field').removeClass('hide'); $q.find('input[type=file]').val('');">x</span>
            </div>
        </div>
        {%- endfor -%}

        <hr></hr>
        <div>
            <label>
                <input id="eu-privacy-consent-accept" required="required" value="Yes" type="checkbox">&nbsp;&nbsp;<strong>I Accept</strong>
            </label>
            the <a class="eu-privacy-consent-toggle" onclick="$('.eu-privacy-consent').toggleClass('hide')">Application Consent for Zalando</a>

            <div class="eu-privacy-consent hide">
                <p>By clicking the “I Accept” button you expressly make the following representations and warranties and give your consents as described below:</p>
                <p>Zalando collects your personal data for the purposes of managing Zalando’s recruitment related activities as well as for organizational planning purposes globally. Consequently, Zalando may use your personal data in relation to the evaluation and selection of applicants including for example setting up and conducting interviews and tests, evaluating and assessing the results thereto and as is otherwise needed in the recruitment processes including the final recruitment.</p>
                <p>Zalando does not disclose your personal data to unauthorized third parties. However, as a global corporation consisting of multiple affiliated companies in various countries, Zalando has international sites and Zalando uses resources located throughout the world. Zalando may from time to time also use third parties to act on Zalando’s behalf. You agree to the fact that to the extent necessary your personal data may be transferred and/or disclosed to any company within Zalando group of companies as well as to third parties acting on Zalando’s behalf, including also transfers to servers and databases outside the country where you provided Zalando with your personal data. Such transfers may include for example transfers and/or disclosures outside the European Economic Area and in the United States of America.</p>
            </div>
        </div>
        <hr></hr>

        <div class="job-application-error"></div>
        <input type="submit" class="job-application-submit" value="Submit Application">
    </form>
</div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="mh9jyh4mfwjnfhj"></script>

    <script async src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>
</body>
</html>
