{% set job_viewmodel = greenhouse.jobs | to_job_viewmodel %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
</head>
<body>

    <!-- Header -->
    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'jobs' } %}

    <div class="fullsize-container white">
        <div class="container">

            <div class="element-spacing">
                <ul class="breadcrumb">
                    <li><a href="{{ relative_path_to_root }}jobs">Jobs</a></li>
                    {%- if job_viewmodel.firstCategoryId!=='hidden' %}
                        <li><a href="{{ relative_path_to_root }}jobs/{{ job_viewmodel.firstCategoryId }}">{{ job_viewmodel.firstCategory }}</a></li>
                    {%- endif %}
                    <li class="active">{{ job_viewmodel.title }}</li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="application-header">
                        <p class="locations">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ job_viewmodel.locations }}
                        </p>
                        <h1 class="heading-1">{{ job_viewmodel.title }}</h1>
                        <h2 class="heading-2">{{ job_viewmodel.department }}</h2>
                    </div>

                    <div class="visible-sm-block visible-xs-block element-spacing">
                        <a href="#apply" class="default-button color-zalando">Apply</a>
                    </div>

                    <div class="application-content">
                        {{ job_viewmodel.content | safe }}
                    </div>

                </div>
                <div class="col-md-5 col-md-offset-1">
                    <a class="anchor" id="apply"></a>

                    <div class="application-header apply">
                        <h1 class="heading-1">Apply Now</h1>
                    </div>

                    <div class="application-header visible-sm-block visible-xs-block">
                        <p class="locations">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ job_viewmodel.locations }}
                        </p>
                        <h1 class="heading-1">{{ job_viewmodel.title }}</h1>
                        <h2 class="heading-2">{{ job_viewmodel.department }}</h2>
                    </div>

                    <div class="application-form">
                        <div id="grnhse_app"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fullsize-container white">
        {% include '../src/partials/share_buttons.html' with {
            share_url: 'http://tech.zalando.com/jobs/' + job_viewmodel.id,
            share_title: job_viewmodel.title
        } %}
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script async src="https://boards.greenhouse.io/embed/job_board/js?for=zalandotech"></script>
    <script async src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>
</body>
</html>
