{% set jobs_viewmodel = greenhouse.jobs | to_jobs_viewmodel %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimal-ui" />
    <title>Zalando Tech</title>
    <meta name="description" content="This is the home of Zalando Tech. We dress code! Check out our job page for available positions.">
    <link href="{{ relative_path_to_root }}images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ relative_path_to_root }}css/tech.zalando-all.css" />
</head>
<body>

    <!-- Header -->
    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'jobs' } %}

    <div class="fullsize-container light-gray">
    {%- for job in jobs_viewmodel %}
        <h1>{{ job.title }} - {{ job.firstCategory }}</h1>
        <h2>{{ job.department }} / {{ job.location }} ({{ job.id }})</h2>
        <p>
            {{ job.content | replace('&lt;','<','g') | replace('&gt;','>','g') | safe }}
        </p>
    {%- endfor %}
        <div id="grnhse_app"></div>
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script async src="https://boards.greenhouse.io/embed/job_board/js?for=zalandotest"></script>
    <script async src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>
</body>
</html>
