{% set tech_jobs_viewmodel = greenhouse.jobs | to_jobs_viewmodel({ category: 'Engineering & Development', sortOrder: 'updated' }) %}
{% set product_jobs_viewmodel = greenhouse.jobs | to_jobs_viewmodel({ category: 'Product & UX', sortOrder: 'updated' }) %}
{% set data_jobs_viewmodel = greenhouse.jobs | to_jobs_viewmodel({ category: 'Data Science', sortOrder: 'updated' }) %}
{% set others_jobs_viewmodel = greenhouse.jobs | to_jobs_viewmodel({ category: 'Other', sortOrder: 'updated' }) %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
</head>
<body>

    <!-- Header -->
    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'jobs-overview' } %}

    <!-- Teaser image -->
    <div class="fullsize-media picture-bg" style="background-image: url('{{ relative_path_to_root }}images/jobs_overview_header.jpg'); background-position: 50% 12%;">
        <div class="teaser">
            <div class="content">
                <div class="container">
                    <h1 class="title">Changing the<br/>future of fashion<br/>together</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Job type cards -->
    <div class="fullsize-container light-gray">
        <div class="container">
            <div class="element-spacing">
                <h1 class="heading-1 text-center">What’s your craft?</h1>
            </div>
            <div class="cards job-types element-spacing">

                <div class="card-container">
                    {%- if tech_jobs_viewmodel.length === 0 %}
                        {% set disabled = ' disabled' %}
                    {%- else %}
                        {% set disabled = '' %}
                    {%- endif %}
                    <a href="{{ relative_path_to_root }}jobs/tech">
                        <div class="card job-type{{ disabled }}">
                            <div class="media icon engineering-development"></div>
                            <div class="content">
                                <p class="title">Software Engineering</p>
                                <p class="subtitle">{{ tech_jobs_viewmodel.length | pluralize('Job Profile', 'Job Profiles') }}</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="card-container">
                    {%- if product_jobs_viewmodel.length === 0 %}
                        {% set disabled = ' disabled' %}
                    {%- else %}
                        {% set disabled = '' %}
                    {%- endif %}
                    <a href="{{ relative_path_to_root }}jobs/product">
                        <div class="card job-type{{ disabled }}">
                            <div class="media icon product-ux"></div>
                            <div class="content">
                                <p class="title">Product Management &amp; UX / UI</p>
                                <p class="subtitle">{{ product_jobs_viewmodel.length | pluralize('Job Profile', 'Job Profiles') }}</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="card-container">
                    {%- if data_jobs_viewmodel.length === 0 %}
                        {% set disabled = ' disabled' %}
                    {%- else %}
                        {% set disabled = '' %}
                    {%- endif %}
                    <a href="{{ relative_path_to_root }}jobs/data">
                        <div class="card job-type{{ disabled }}">
                            <div class="media icon data-science"></div>
                            <div class="content">
                                <p class="title">Data Science</p>
                                <p class="subtitle">{{ data_jobs_viewmodel.length | pluralize('Job Profile', 'Job Profiles') }}</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="card-container">
                    {%- if others_jobs_viewmodel.length === 0 %}
                        {% set disabled = ' disabled' %}
                    {%- else %}
                        {% set disabled = '' %}
                    {%- endif %}
                    <a href="{{ relative_path_to_root }}jobs/other">
                        <div class="card job-type{{ disabled }}">
                            <div class="media icon other-jobs"></div>
                            <div class="content">
                                <p class="title">Other Specialists</p>
                                <p class="subtitle">{{ others_jobs_viewmodel.length | pluralize('Job Profile', 'Job Profiles') }}</p>
                            </div>
                        </div>
                    </a>
                </div>

                {% include "../src/partials/joker_card.html" with {
                    'type': 'talent-pool job-type',
                    'link': relative_path_to_root + 'jobs/65731/?gh_jid=65731',
                    'title': 'Can’t find the right job?',
                    'text': 'Apply to our talent pool and create your own job'
                } %}

                {% include "../src/partials/joker_card.html" with {
                    'type': 'non-tech-jobs job-type',
                    'link': 'http://jobs.zalando.de/en/',
                    'title': 'We also have non-tech jobs!',
                    'text': 'Have a look at our amazing job opportunities for non-techies'
                } %}

            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script async src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>

</body>
</html>