{% set tech_jobs_viewmodel = greenhouse.jobs | to_jobs_viewmodel({ category: 'Engineering & Development', sortOrder: 'updated' }) %}
{% set product_jobs_viewmodel = greenhouse.jobs | to_jobs_viewmodel({ category: 'Product & UX', sortOrder: 'updated' }) %}
{% set data_jobs_viewmodel = greenhouse.jobs | to_jobs_viewmodel({ category: 'Data Science', sortOrder: 'updated' }) %}
{% set others_jobs_viewmodel = greenhouse.jobs | to_jobs_viewmodel({ category: 'Other', sortOrder: 'updated' }) %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
</head>
<body>

    <!-- Header -->
    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'jobs-overview' } %}

    <!-- Teaser image -->
    <div class="fullsize-media picture-bg jobs-overview">
        <div class="teaser">
            <div class="content">
                <div class="container">
                    <h1 class="title">Changing the<br/>future of fashion<br/>together</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Job type cards -->
    <div class="fullsize-container light-gray">
        <div class="container">
            <div class="element-spacing">
                <h1 class="heading-1 text-center">What’s your craft?</h1>
            </div>
            <div class="cards job-types element-spacing">

                <div class="card-container">
                    {%- if tech_jobs_viewmodel.length === 0 %}
                        {% set disabled = ' disabled' %}
                    {%- else %}
                        {% set disabled = '' %}
                    {%- endif %}
                    <div class="card job-type{{ disabled }}">
                        <div class="media icon engineering-development"><a href="{{ relative_path_to_root }}jobs/tech"></a></div>
                        <div class="content">
                            <p class="title"><a href="{{ relative_path_to_root }}jobs/tech">Software Engineering</a></p>
                            <p class="subtitle">{{ tech_jobs_viewmodel.length | pluralize('Job Profile', 'Job Profiles') }}</p>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    {%- if product_jobs_viewmodel.length === 0 %}
                        {% set disabled = ' disabled' %}
                    {%- else %}
                        {% set disabled = '' %}
                    {%- endif %}
                    <div class="card job-type{{ disabled }}">
                        <div class="media icon product-ux"><a href="{{ relative_path_to_root }}jobs/product"></a></div>
                        <div class="content">
                            <p class="title"><a href="{{ relative_path_to_root }}jobs/product">Product Management &amp; UX / UI</a></p>
                            <p class="subtitle">{{ product_jobs_viewmodel.length | pluralize('Job Profile', 'Job Profiles') }}</p>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    {%- if data_jobs_viewmodel.length === 0 %}
                        {% set disabled = ' disabled' %}
                    {%- else %}
                        {% set disabled = '' %}
                    {%- endif %}
                    <div class="card job-type{{ disabled }}">
                        <div class="media icon data-science"><a href="{{ relative_path_to_root }}jobs/data"></a></div>
                        <div class="content">
                            <p class="title"><a href="{{ relative_path_to_root }}jobs/data">Data Science</a></p>
                            <p class="subtitle">{{ data_jobs_viewmodel.length | pluralize('Job Profile', 'Job Profiles') }}</p>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    {%- if others_jobs_viewmodel.length === 0 %}
                        {% set disabled = ' disabled' %}
                    {%- else %}
                        {% set disabled = '' %}
                    {%- endif %}
                    <div class="card job-type{{ disabled }}">
                        <div class="media icon other-jobs"><a href="{{ relative_path_to_root }}jobs/other"></a></div>
                        <div class="content">
                            <p class="title"><a href="{{ relative_path_to_root }}jobs/other">Other Specialists</a></p>
                            <p class="subtitle">{{ others_jobs_viewmodel.length | pluralize('Job Profile', 'Job Profiles') }}</p>
                        </div>
                    </div>
                </div>

                {% include "../src/partials/joker_card.html" with {
                    'type': 'non-tech-jobs job-type',
                    'link': 'http://jobs.zalando.de/en/',
                    'title': 'Not looking for a tech job?',
                    'text': 'Have a look at our amazing job opportunities for non-techies'
                } %}

            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script async src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>

</body>
</html>