<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
</head>
<body>

    <!-- Header -->
    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'jobs' } %}

    <div class="fullsize-container light-gray">
        <div class="container">
            <div class="element-spacing">
                <ul class="breadcrumb">
                  <li><a href="{{ relative_path_to_root }}jobs">Jobs</a></li>
                  <li class="active">{{ jobs_category.title }}</li>
                </ul>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="jobs-header element-spacing">
                        <h1 class="heading-1 {{ jobs_category.name }}">{{ jobs_category.title }}</h1>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="searchField"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="jobs-content" class="jobs-content">
        <div class="fullsize-container light-gray">
            <div class="container">
                <div class="cards elements-spacing">
                    {% set emptyCardsArray = Array(4) %}
                    {% for _ in emptyCardsArray %}
                        <div class="card-container">
                            <div class="card job">
                                <div class="media">
                                </div>
                                <div class="content">
                                </div>
                            </div>
                        </div>
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>
    <script src="https://fb.me/react-with-addons-0.13.3.js"></script>
    <script src="{{ relative_path_to_root }}js/tech.zalando-app.js"></script>
    <script>
        new techZalando.App({
            relative_path_to_root: '{{ relative_path_to_root }}',
            page: 'jobs',
            category: '{{ jobs_category.id | safe }}'
        });
    </script>
</body>
</html>