{% set interview_person = prismic.authors | to_author_viewmodel({ fullName: location.interview_person }) %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
</head>
<body>

    <!-- Header -->
    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'location' } %}

    <!-- Teaser image -->
    <div class="fullsize-media picture-bg" style="background-image: url('{{ relative_path_to_root }}images/{{ location.image }}')">
        <div class="teaser">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <div class="content">
                            <h1 class="title">{{ location.title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fullsize-container white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="blog-post-content">
                        {% set location_summary_partial = "../src/partials/" + location.summary_partial + ".html" %}
                        {% include location_summary_partial %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fullsize-container light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="heading-1 element-spacing">What our people say</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cards element-spacing">

                {% include "../src/partials/person_card.html" with {
                    'image': interview_person.image,
                    'name': interview_person.fullName,
                    'title': interview_person.title,
                    'quote': interview_person.quote,
                    'nationality': interview_person.nationality,
                    'personalTips': interview_person.personalTips,
                    'relative_path_to_root': relative_path_to_root
                } %}

                <div class="col-2-cards">
                    <div class="interview">
                        {% set location_interview_partial = "../src/partials/" + location.interview_partial + ".html" %}
                        {% include location_interview_partial %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                <div class="seperator"></div>
            </div>
        </div>
    </div>

    <div class="fullsize-container light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="heading-1 element-spacing">Get to know the city</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cards element-spacing">

                {% include "../src/partials/link_card.html" with {
                    'link': 'http://www.meetup.com/Zalando-Tech-Events-Berlin/',
                    'image': relative_path_to_root + 'images/meetup.jpg',
                    'title': 'Meetup Berlin',
                    'text': 'These are just some of the different kinds of Meetup groups you can find near Berlin.'
                } %}

            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script async src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>

</body>
</html>