{% set interview_person = prismic.authors | to_author_viewmodel({ fullName: location.interview_person }) %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
</head>
<body>

    <!-- Header -->
    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'location' } %}

    <!-- Teaser image -->
    <div class="fullsize-media picture-bg" style="background-image: url('{{ relative_path_to_root }}images/relocation_header.jpg'); background-position: center 65%;">
        <div class="teaser">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <div class="content">
                            <h1 class="title">Relocation</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fullsize-container white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="blog-post-content">
                        {% include "../src/partials/relocation_support.html" with {
                            'relative_path_to_root': relative_path_to_root
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fullsize-container white">
        <div class="container">
            <h1 class="heading-1">We take care of you!</h1>
        </div>

        <div class="container">
            <div class="row element-spacing">
                <div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-3">
                    <div class="relocation-service housing">
                        <div class="icon"></div>
                        <h1>Housing</h1>
                        <p>All Tech Newbies will be able to stay in our Townhouse in Mitte for a month without rent. Families will be able to stay in partner appartments</p>
                    </div>
                </div>
                <div class="col-sm-5 col-md-3 col-md-offset-0">
                    <div class="relocation-service visa">
                        <div class="icon"></div>
                        <h1>Visa</h1>
                        <p>The first 90 day visa is organised by new starters themselves. We will help you with the Bluecard or similar, supporting you in the whole process.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script async src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>

</body>
</html>