<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
</head>
<body class="tour-of-mastery">

    <!-- Header -->
    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'working-at-z' } %}

    <!-- Teaser -->
    <div class="fullsize-media picture-bg large">
        <div class="teaser" id="teaser">
            <div class="content large">
                <div class="container scene-wrapper">
                    <h1 class="title">TOUR OF<br/>MASTERY</h1>
                    <div class="sprite astronaut-1"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="scene asteroids" id="asteroids">
        <div class="container scene-wrapper">
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-5vh);" data-bottom-top="transform: translateY(5vh);" data-anchor-target="#asteroids">
                <div class="sprite asteroid-3"></div>
                <div class="sprite asteroid-5"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#asteroids">
                <div class="sprite asteroid-2"></div>
                <div class="sprite asteroid-4"></div>
                <div class="sprite asteroid-6"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-20vh);" data-bottom-top="transform: translateY(20vh);" data-anchor-target="#asteroids">
                <div class="sprite asteroid-1"></div>
                <div class="sprite asteroid-7"></div>
                <div class="sprite flying-asteroid"></div>
            </div>
        </div>
    </div>

    <!-- rocket launch -->

    <div class="scene rocket_launch" id="rocket_launch">
        <div class="container scene-wrapper">
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#rocket_launch">
                <div class="sprite space-station"></div>
                <div class="sprite rocket-fire"></div>
                <div class="sprite astronaut-2"></div>
                <div class="sprite rocket-empty"></div>
            </div>
        </div>
    </div>

    <div class="scene-caption rocket_launch">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="scene-wrapper">
                        <div class="text-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#rocket_launch">
                            <h1 class="heading-2 large">The Tour of Mastery is a one way ticket to the Zalando Universe</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- rocket flying -->

    <div class="scene rocket_flying" id="rocket_flying">
        <div class="container scene-wrapper">
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-5vh);" data-bottom-top="transform: translateY(5vh);" data-anchor-target="#rocket_flying">
                <div class="sprite yellow-glow"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#rocket_flying">
                <div class="sprite rocket-2-fire"></div>
                <div class="sprite rocket-2-full"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-15vh);" data-bottom-top="transform: translateY(15vh);" data-anchor-target="#rocket_flying">
                <div class="sprite smoke-1"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-20vh);" data-bottom-top="transform: translateY(20vh);" data-anchor-target="#rocket_flying">
                <div class="sprite smoke-2"></div>
            </div>
        </div>
    </div>

    <div class="scene-caption rocket_flying">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="scene-wrapper">
                        <div class="text-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#rocket_flying">
                            <h1 class="heading-2 large">You explore and define your purpose within the Z-Galaxy</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- planets -->

    <div class="scene planets" id="planets">
        <div class="container scene-wrapper">
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-5vh);" data-bottom-top="transform: translateY(5vh);" data-anchor-target="#planets">
                <div class="sprite blue-glow"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#planets">
                <div class="sprite planet-3"></div>
                <div class="sprite planet-4"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-15vh);" data-bottom-top="transform: translateY(15vh);" data-anchor-target="#planets">
                <div class="sprite main-planet"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-25vh);" data-bottom-top="transform: translateY(25vh);" data-anchor-target="#planets">
                <div class="sprite planet-1"></div>
                <div class="sprite planet-2"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-30vh);" data-bottom-top="transform: translateY(30vh);" data-anchor-target="#planets">
                <div class="sprite planet-5"></div>
            </div>
        </div>
    </div>

    <div class="scene-caption planets">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="scene-wrapper">
                        <div class="text-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#planets">
                            <h1 class="heading-2 large">You can get to know different teams</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- filling helmet scene -->

    <div class="scene filling_helmet" id="filling_helmet">
        <div class="container scene-wrapper square">
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#filling_helmet">
                <div class="sprite bottle-1"></div>
                <div class="sprite liquid-1"></div>
                <div class="sprite pipe-1"></div>
                <div class="sprite bottle-2"></div>
                <div class="sprite liquid-2"></div>
                <div class="sprite pipe-2"></div>
                <div class="sprite helmet-1"></div>
                <div class="sprite helmet-filling"></div>
                <div class="sprite helmet-reflection"></div>
            </div>
        </div>
    </div>

    <div class="scene-caption filling_helmet">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="scene-wrapper">
                        <div class="text-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#filling_helmet">
                            <h1 class="heading-2 large">You will have the opportunity to work with new technologies and sharpen your skills</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- satellite scene -->

    <div class="scene satellite" id="satellite">
        <div class="container scene-wrapper square">
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-5vh);" data-bottom-top="transform: translateY(5vh);" data-anchor-target="#satellite">
                <div class="sprite blue-glow-2"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#satellite">
                <div class="sprite earth"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-15vh);" data-bottom-top="transform: translateY(15vh);" data-anchor-target="#satellite">
                <div class="sprite moon-1"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-25vh);" data-bottom-top="transform: translateY(25vh);" data-anchor-target="#satellite">
                <div class="sprite satellite"></div>
                <div class="sprite satellite-circle-1"></div>
                <div class="sprite satellite-circle-2"></div>
                <div class="sprite satellite-circle-3"></div>
            </div>
        </div>
    </div>

    <div class="scene-caption satellite">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="scene-wrapper">
                        <div class="text-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#satellite">
                            <h1 class="heading-2 large">You are encouraged to share your knowledge by public and internal events</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- UFO -->

    <div class="scene ufo" id="ufo">
        <div class="container scene-wrapper square">
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#ufo">
                <div class="sprite astronaut-beamed-up"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-20vh);" data-bottom-top="transform: translateY(20vh);" data-anchor-target="#ufo">
                <div class="sprite ufo"></div>
                <div class="sprite laser-beam"></div>
            </div>
        </div>
    </div>

    <div class="scene-caption ufo">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="scene-wrapper">
                        <div class="text-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#ufo">
                            <h1 class="heading-2 large">You will work with unique people that will help you grow and expand your experience</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- aliens -->

    <div class="scene aliens" id="aliens">
        <div class="container scene-wrapper square">
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#aliens">
                <div class="sprite alien-2"></div>
                <div class="sprite eye-7"></div>
                <div class="sprite eye-8"></div>
                <div class="sprite eye-9"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-15vh);" data-bottom-top="transform: translateY(15vh);" data-anchor-target="#aliens">
                <div class="sprite alien-1"></div>
                <div class="sprite alien-3"></div>
                <div class="sprite eye-1"></div>
                <div class="sprite eye-2"></div>
                <div class="sprite eye-3"></div>
                <div class="sprite eye-4"></div>
                <div class="sprite eye-5"></div>
                <div class="sprite eye-6"></div>
            </div>
        </div>
    </div>

    <div class="scene-caption aliens">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="scene-wrapper">
                        <div class="text-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#aliens">
                            <h1 class="heading-2 large">You can develop open-source projects and contribute to the community</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- moon walk -->

    <div class="scene moon_walk" id="moon_walk">
        <div class="container scene-wrapper square">
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-5vh);" data-bottom-top="transform: translateY(5vh);" data-anchor-target="#moon_walk">
                <div class="sprite blue-glow-2"></div>
            </div>
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#moon_walk">
                <div class="sprite moon-2"></div>
                <div class="sprite astronaut-with-flag"></div>
            </div>
        </div>
    </div>

    <div class="scene-caption moon_walk">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="scene-wrapper">
                        <div class="text-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#moon_walk">
                            <h1 class="heading-2 large">We give you the freedom to work autonomously and build up your personal brand</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- astronauts -->

    <div class="scene astronauts" id="astronauts">
        <div class="container scene-wrapper">
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#astronauts">
                <div class="sprite space-station"></div>
                <div class="sprite rocket-empty-2"></div>
                <div class="sprite astronaut-6"></div>
                <div class="sprite astronaut-5"></div>
                <div class="sprite astronaut-4"></div>
                <div class="sprite astronaut-3"></div>
            </div>
        </div>
    </div>

    <div class="scene-caption astronauts">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="scene-wrapper">
                        <div class="text-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#astronauts">
                            <h1 class="heading-2 large">With all of this progress you might end up building your own team and leading great projects</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- helmet -->

    <div class="scene helmet" id="helmet">
        <div class="container scene-wrapper square">
            <div class="sprite-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#helmet">
                <div class="sprite helmet-2"></div>
                <div class="sprite reflection-1"></div>
                <div class="sprite reflection-2"></div>
            </div>
        </div>
    </div>

    <div class="scene-caption helmet">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="scene-wrapper">
                        <div class="text-wrapper" data-top-bottom="transform: translateY(-10vh);" data-bottom-top="transform: translateY(10vh);" data-anchor-target="#helmet">
                            <h1 class="heading-2 large">We are waiting for you to conquer the galaxy!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="call-to-action">
        <div class="container text-center">
            <a href="{{ relative_path_to_root }}jobs" class="default-button large color-zalando">Join our Team</a>
        </div>
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>
    <script type="text/javascript">var s = skrollr.init({forceHeight:false, mobileCheck: function() {return false;}});</script>

</body>
</html>