<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include "../src/partials/head.html" with {
        'relative_path_to_root': relative_path_to_root,
        'title': 'Zalando Tech',
        'description': 'This is the home of Zalando Tech. We dress code! Check out our job page for available positions.'
    } %}
</head>
<body>

    {% include "../src/partials/header.html" with { 'relative_path_to_root': relative_path_to_root, 'active': 'working-at-z' } %}

    <div class="fullsize-container white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="blog-post-content">
                        <p>What does it take to become “a Zalando”? Above all, it requires passion: to experiment, learn, fail, and repeat the process, so that we get stronger and better every day. Zalando Tech includes men and women from more than 50 different nations and representing a seemingly endless number of interests, hobbies, programming-language preferences, personality types and other characteristics. What unites us is the energy and enthusiasm we share in tackling our common purpose: to deliver award-winning, best-in-class shopping experiences to our +15 million customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Methods & Ethics -->
    <div class="fullsize-media picture-bg" style="background-image: url('{{ relative_path_to_root }}images/Work_Methods.jpg'); background-position: 50% 40%;">
        <div class="teaser">
            <div class="container">
                <div class="content">
                    <h1 class="title">Methods &amp;<br/>Ethics</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include "../src/partials/footer.html" with { 'relative_path_to_root': relative_path_to_root } %}

    <script async src="{{ relative_path_to_root }}js/tech.zalando-all.js"></script>

</body>
</html>