<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimal-ui" />
    <title>Zalando Tech</title>
    <meta name="description" content="This is the home of Zalando Tech. We dress code! Check out our job page for available positions.">
    <link href="./images/zalando.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="./css/tech.zalando-all.css" />
</head>
<body>

    {% include "src/partials/header.html" with { 'relative_path_to_root': './', 'active': 'home' } %}

    <!-- Background video -->
    <div class="fullsize-media visible-lg-block">
        <div class="teaser">
            <div class="container">
                <div class="tech-zalando-logo"></div>
                <h1 class="title with-logo">WE DRESS<br/>CODE!</h1>
                <a href="./videos/zalando_tech_home_MOBILE_RB.mp4" class="play-button">Play</a>
            </div>
        </div>
        <video autoplay="" loop="loop" class="landing-video" muted="">
            <source src="./videos/zalando_tech_home_loop_RB.mp4"></source>
        </video>
    </div>
    <!-- On mobile just show a background picture -->
    <div class="fullsize-media picture-bg home visible-md-block visible-sm-block visible-xs-block">
        <div class="teaser">
            <div class="container">
                <div class="tech-zalando-logo"></div>
                <h1 class="title with-logo">WE DRESS<br/>CODE!</h1>
                <a href="./videos/zalando_tech_home_MOBILE_RB.mp4" class="play-button">Play</a>
            </div>
        </div>
    </div>

    <!-- Tech Blog -->
    <div class="fullsize-container light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="heading-1 text-center element-spacing">Tech Blog</h1>
                    <p class="bodycopy text-center element-spacing">It’s not all about building, innovating and create cool stuff. Have a look in what our tech-heads have to say about Technology, the future and how we conquered
the space!</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cards element-spacing">
                <div class="card-container">
                    <a href="#" class="category">Team &amp; Tech</a>
                    <div class="card blog">
                        <div class="media"></div>
                        <div class="content">
                            <p class="title">We launched it! Zalando space shoe. 1</p>
                            <p class="subtitle">by Rodrigo Reis - March 2015</p>
                            <p class="text bodycopy">February 21, 2015 marked another milestone in the success story of Zalando: we sent a shoe into the stratosphere!</p>
                            <p class="footer"><a href="#">Blog</a></p>
                            <div class="footer-position-bottom">
                                <a class="default-button color-gray pull-right" href="#">More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <a href="#" class="category">Events</a>
                    <div class="card blog">
                        <div class="media"></div>
                        <div class="content">
                            <p class="title">We launched it! Zalando space shoe. 1</p>
                            <p class="subtitle">by Rodrigo Reis - March 2015</p>
                            <p class="text bodycopy">February 21, 2015 marked another milestone in the success story of Zalando: we sent a shoe into the stratosphere!</p>
                            <p class="footer"><a href="#">Blog</a></p>
                            <div class="footer-position-bottom">
                                <a class="default-button color-gray pull-right" href="#">More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <a href="#" class="category">Tech Talks</a>
                    <div class="card blog">
                        <div class="media"></div>
                        <div class="content">
                            <p class="title">We launched it! Zalando space shoe. 1</p>
                            <p class="subtitle">by Rodrigo Reis - March 2015</p>
                            <p class="text bodycopy">February 21, 2015 marked another milestone in the success story of Zalando: we sent a shoe into the stratosphere!</p>
                            <p class="footer"><a href="#">Blog</a></p>
                            <div class="footer-position-bottom">
                                <a class="default-button color-gray pull-right" href="#">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <a href="./blog/" class="default-button color-zalando element-spacing">Check out the blog</a>
        </div>

    <!-- Open Source -->
        <div class="element-spacing"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="heading-1 text-center element-spacing">Open Source</h1>
                    <p class="bodycopy text-center element-spacing">The future it’s all about collaboration. That’s why in Zalando we believe in creating great products and tools, and share them with the digital community.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cards element-spacing">
                <div class="card-container">
                    <div class="card white opensource">
                        <div class="media"></div>
                        <div class="content">
                            <p class="title">iOS LIBRARY</p>
                            <p class="text bodycopy">Lorem Ipsum is simply dummy text of the printing and typeset- ting industry.</p>
                            <p class="footer">iOS &middot; Development &middot; Library</p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card white opensource">
                        <div class="media"></div>
                        <div class="content">
                            <p class="title">iOS LIBRARY</p>
                            <p class="text bodycopy">Lorem Ipsum is simply dummy text of the printing and typeset- ting industry.</p>
                            <p class="footer">iOS &middot; Development &middot; Library</p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card white opensource">
                        <div class="media"></div>
                        <div class="content">
                            <p class="title">iOS LIBRARY</p>
                            <p class="text bodycopy">Lorem Ipsum is simply dummy text of the printing and typeset- ting industry.</p>
                            <p class="footer">iOS &middot; Development &middot; Library</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <a href="https://github.com/zalando" target="_blank" class="default-button color-zalando element-spacing">Check out our repositories</a>
        </div>
    </div>

    <!-- Radical Agility -->
    <div class="fullsize-container radical-agility">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h1 class="heading-1 text-center element-spacing">What is Zalando?</h1>
                    <h1 class="heading-1 text-center small element-spacing">Zalando is a young company, founded in 2008 in
        Berlin, Germany. We are successfully combining fashion, retail and technology to operate online stores in 15 different countries. We do fashion. Online.</h1>
                    <div class="element-spacing"></div>
                    <h1 class="heading-1 text-center element-spacing">How do we work?</h1>
                    <h1 class="heading-1 text-center small element-spacing">A new way of working, that gives you the freedom to master of your own trade.</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cards element-spacing">

                <div class="card-container">
                    <div class="card small radical-agility">
                        <div class="icon autonomy"></div>
                        <div class="content">
                            <p class="title">Autonomy</p>
                            <p class="text">To make your own decisions</p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card small radical-agility">
                        <div class="icon mastery"></div>
                        <div class="content">
                            <p class="title">Mastery</p>
                            <p class="text">Of your craft and tools</p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card small radical-agility">
                        <div class="icon purpose"></div>
                        <div class="content">
                            <p class="title">Purpose</p>
                            <p class="text">In what you do and build</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container text-center">
            <a href="#" class="default-button center color-transparent element-spacing">Learn more about our culture</a>
        </div>
    </div>

    <!-- Jobs -->
    <div class="fullsize-container light-gray">
        <div class="container">
            <h1 class="heading-1 text-center element-spacing">We are hiring!</h1>
        </div>
        <div class="container">
            <div class="cards element-spacing">

                <div class="card-container">
                    <a href="#" class="category">Sofware Engineering</a>
                    <div class="card small job">
                        <div class="media"></div>
                        <div class="content">
                            <p class="title">Technical Incident</p>
                            <p class="subtitle">New Customer-facing Business</p>
                            <p class="footer"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Berlin, Dublin</p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <a href="#" class="category">Product</a>
                    <div class="card small job">
                        <div class="media"></div>
                        <div class="content">
                            <p class="title">System engineer product owner</p>
                            <p class="subtitle">Test Environment</p>
                            <p class="footer"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Berlin, Dublin</p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <a href="#" class="category">UX Design</a>
                    <div class="card small job">
                        <div class="media"></div>
                        <div class="content">
                            <p class="title">Lead user experience (UX)</p>
                            <p class="subtitle">New Customer-facing Business</p>
                            <p class="footer"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Berlin, Dublin</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container text-center">
            <a href="./jobs/overview.html" class="default-button color-zalando element-spacing">See more jobs</a>
        </div>
    </div>

    <!-- Footer -->
    {% include "./src/partials/footer.html" with { 'relative_path_to_root': './' } %}

    <script async src="./js/tech.zalando-all.js"></script>

</body>
</html>
