<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zalando Tech</title>
    <meta name="description" content="">
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" async href="css/tech.zalando-all.css" />
</head>
<body>

    {% include "src/partials/header.html" %}

    <div class="fullsize-container white">
<h1 itemprop="name"> Legal Notice </h1> <div> <p></p> <div class="legalNote"> <p><strong>Address:</strong> Zalando SE <br> Tamara-Danz-Straße 1 <br> 10243 Berlin <br> Germany</p> <p><strong>Telefax:</strong> +49 (0)30 2759 4693</p> <p><strong>E-Mail:</strong> <a class="reference external" href="mailto:service-tech@zalando.de">service-tech@zalando.de</a></p> <p><strong>Management Board:</strong> Robert Gentz, David Schneider, Rubin Ritter <br></p> <p><strong>Chairman of the Supervisory Board:</strong> Cristina Stenbeck</p> <p><strong>Registered at:</strong> Amtsgericht Charlottenburg Berlin, HRB 158855 B <br></p> <p><strong>Value Added Tax-ID:</strong> DE 260543043 <br></p> <p><strong>Tax Number:</strong> 29/560/00596 <br></p> <p><strong>Responsible:</strong> for contents of Zalando SE acc. To § 55 RStV: Robert Gentz <br></p> <p><strong>Illustrations by:</strong> Kolja Wilcke</p> <p></p> </div> </div>
        
    </div>

    {% include "src/partials/footer.html" with { 'relative_path_to_root': './' } %}

    <script async src="js/tech.zalando-all.js"></script>

</body>
</html>
