<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zalando Tech</title>
    <meta name="description" content="">
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" async href="css/tech.zalando-all.css" />
</head>
<body>

    {% include "src/partials/header.html" %}

    <div class="fullsize-container white">
        <div class="container">
            <h1 itemprop="name"> Privacy Policy </h1>
            <p class="bodycopy">
                Data protection is a matter of trust and our users’ trust is important to us. We respect your privacy so protecting and using your information correctly is a matter of course for us. To make sure you feel safe when you visit the Zalando TechBlog, we process your information strictly according to legal regulations and would like to inform you in more detail about our data protection policies here.
            </p>
            <p class="bodycopy">
                By agreeing to the following data protection policy, you are allowing Zalando SE (based at Tamara-Danz-Straße 1, 10243 Berlin, Germany), hereafter referred to simply as Zalando, to use your personal information in accordance with the clauses below.
            </p>
        </div>
    </div>



    {% include "src/partials/footer.html" %}

    <script async src="js/tech.zalando-all.js"></script>

</body>
</html>
