<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zalando Tech</title>
    <meta name="description" content="This is the home of Zalando Tech. We dress code! Check out our job page for available positions.">
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="css/tech.zalando-all.css" />
</head>
<body>

    {% include "src/partials/header.html" with { 'relative_path_to_root': './', 'active': 'working' } %}

    <div class="fullsize-media visible-md-block visible-lg-block">
        <div class="teaser">
            <div class="container">
                <h1>Working @ Z</h1>
            </div>
        </div>
        <!--
            supported formats:
            https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats

            2:35 - 2:50
        -->
        <video autoplay="" loop="loop" class="landing-video" muted="">
            <source src="http://localhost/ZALANDO/Zalando_2.0_150324.mp4"></source>
        </video>
    </div>

    <div class="fullsize-container white">
        <div class="container">
            <p class="bodycopy">
                Berlin is the capital of Germany, and one of the 16 states of Germany. With a population of 3.5 million people, Berlin is Germany's largest city. It is the second most populous city proper and the seventh most populous urban area in the European Union.[5] Located in northeastern Germany on the banks of River Spree, it is the center of the Berlin-Brandenburg Metropolitan Region, which has about 6 million resi- dents from over 180 nations.[6][7][8][9] Due to its location in the European Plain, Berlin is influenced by a temperate seasonal climate. Around one third of the city's area is composed of forests, parks, gardens,
            </p>
        </div>
    </div>

    <div class="fullsize-container black">
        <div class="container">
            <h1 class="heading-1 text-center">We believe that tools and processes are not enough.<br/>That's why these are our values.</h1>

            <div class="row">
                <div class="col-sm-6">
                    <p class="bodycopy">
                        Berlin is the capital of Germany, and one of the 16 states of Germany. With a population of 3.5 million people, Berlin is Germany's largest city. It is the second most populous city proper and the seventh most populouvs urban area in the European Union.[5] Located in northeastern Germany on the banks of River Spree, it is the center of the Ber- lin-Brandenburg Metropolitan Region, which has about 6 million residents from over 180 na- tions.[6][7][8][9] Due to its location in the European Plain, Berlin is influenced by a temperate seasonal climate. Around one third of the city's area is com- posed of forests, parks, gardens, rivers and lakes.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include "src/partials/footer.html" with { 'relative_path_to_root': './' } %}

    <script async src="js/tech.zalando-all.js"></script>

</body>
</html>
