
// colors

// general colors
$color-zalando: #f16a21;
$color-white: #ffffff;
$color-light-gray: #ebebeb;
$color-light-gray-darker: #d9d9d9;
$color-gray: #aaaaaa;
$color-dark-gray: #555555;
$color-black: #222222;
// background colors
$bg-color-header: #efefef;
$bg-color-white: #f6f6f6;
$bg-color-gray: #aaaaaa;
$bg-color-black: #000000;
$bg-color-card: #cccccc;
$bg-color-card-hover: #dddddd;
$bg-color-card-white: #ffffff;
$bg-color-card-white-hover: #ffffff;
// font colors
$font-color-header: #dddddd;

// other constants
$animation-duration: 0.1s;
$long-animation-duration: 0.5s;

// font families
$font-regular: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-bodycopy: "CrimsonText-Regular", "Times New Roman", Times, serif;
