
// colors

// general colors
$color-zalando: #f16a21;
$color-zalando-lighter: #ff9359;
$color-zalando-darker: #cc5a1d;
$color-white: #fff;
$color-light-gray-lighter: #f6f6f6;
$color-light-gray-lighter-blue: #f4f7f8;
$color-light-gray: #e8eaeb;
$color-light-gray-darker: #ccc;
$color-gray: #aaa;
$color-dark-gray: #555;
$color-black: #333;
$color-pure-black: #000;
// background colors
$bg-color-header: #efefef;
$bg-color-white: #f6f6f6;
$bg-color-gray: #aaa;
$bg-color-black: #000;
$bg-color-card: #ccc;
$bg-color-card-hover: #ddd;
$bg-color-card-white: #fff;
$bg-color-card-white-hover: #fff;
// font colors
$font-color-header: #ddd;

// code formatting colors
$color-code-comment: #408080;
$color-code-string: #ba2121;
$color-code-keyword: #008000;
$color-code-class: #00f;
$color-code-variable: #19177c;
$color-code-decorator: #a2f;
$color-code-escape: #b62;
$color-code-attribute: #7d9029;

// other constants
$animation-duration: .1s;
$medium-animation-duration: .3s;
$long-animation-duration: .5s;
$break-large: 768px;
$element-spacing: 24px;
$element-spacing-2: 40px;
$medium-element-spacing: 32px;
$medium-element-spacing-2: 60px;
$card-border-radius: 0;
$joker-card-border-radius: 0;
$special-indent: 40px;

// font families
$font-regular: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-bodycopy: Georgia, Times, "Times New Roman", serif;
