
// colors

// general colors
$color-zalando: #f16a21;
$color-white: #fff;
$color-light-gray: #eaeaea;
$color-light-gray-darker: #ccc;
$color-gray: #aaa;
$color-dark-gray: #555;
$color-black: #222;
// background colors
$bg-color-header: #efefef;
$bg-color-white: #f6f6f6;
$bg-color-gray: #aaa;
$bg-color-black: #000;
$bg-color-card: #ccc;
$bg-color-card-hover: #ddd;
$bg-color-card-white: #fff;
$bg-color-card-white-hover: #fff;
// font colors
$font-color-header: #ddd;

// other constants
$animation-duration: .1s;
$long-animation-duration: .5s;

// font families
$font-regular: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-bodycopy: "CrimsonText-Regular", "Times New Roman", Times, serif;
