@import "constants";

.blog-post-picture {
    height: 380px;
    transform: scale(1.15);

    .wrapper {
        height: 100%;
    }

    .inner {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}

.blog-post-header {
    background-color: rgba(0, 0, 0, 0.55);
    bottom: 0;
    padding: 24px 0;
    position: absolute;
    width: 100%;

    .title {
        color: $color-white;
        font-size: 3.0rem;
        font-weight: 600;
        line-height: 3.3rem;
        margin: 0;
        padding: 0 8px;
        text-align: left;

        @media screen and (min-width: $break-large) {
            font-size: 5.2rem;
            line-height: 5.5rem;
        }
    }

    .subtitle {
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2.0rem;
        margin: 8px 0 0 0;
        padding: 0 8px;

        @media screen and (min-width: $break-large) {
            font-size: 2.0rem;
            line-height: 2.4rem;
        }
    }
}


.blog-post-content {
    color: $color-black;
    margin: 16px 10px 24px 10px;
    overflow: hidden;
    padding: 0;
    text-rendering: optimizeLegibility;

    table {
        width: 100%;

        caption {
            font-weight: 300;
        }
    }

    p,
    li,
    dl,
    dd,
    dt {
        font-family: $font-bodycopy;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.2rem;

        @media screen and (min-width: $break-large) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }

    dt {
        margin-top: 8px;
    }

    dd {
        margin-bottom: 8px;
        padding-left: $special-indent;

        @media (max-width: 767px) {
            padding-left: $special-indent-mobile;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            background-image: url("../images/zalando_bullet.png");
            background-position: 18px 8px;
            background-repeat: no-repeat;
            background-size: 7px 7px;
            margin-bottom: 6px;
            padding-left: $special-indent;

            @media (max-width: 767px) {
                background-position: 2px 8px;
                padding-left: $special-indent-mobile;
            }
        }
    }

    ol {
        padding-left: $special-indent;

        @media (max-width: 767px) {
            padding-left: $special-indent-mobile;
        }
    }

    a {
        color: $color-zalando;
        transition: color $animation-duration;

        &:hover {
            color: $color-zalando-lighter;
            text-decoration: none;
        }

        &.citation-reference {
            outline: 0;

            &:before {
                content: "";
                display: inline-block;
                height: 70px;
                margin-top: -70px;
                position: relative;
                width: 0;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        clear: both;
    }

    h1 {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 2.6rem;
        margin: 36px 0 16px 0;

        @media screen and (min-width: $break-large) {
            font-size: 2.4rem;
            line-height: 2.8rem;
        }
    }

    h2 {
        font-size: 2.0rem;
        font-weight: 400;
        line-height: 2.4rem;
        margin: 36px 0 16px 0;

        @media screen and (min-width: $break-large) {
            font-size: 2.2rem;
            line-height: 2.6rem;
        }
    }

    h3 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.2rem;
        margin: 32px 0 16px 0;

        @media screen and (min-width: $break-large) {
            font-size: 2.0rem;
            line-height: 2.4rem;
        }
    }

    img {
        box-sizing: border-box;
        display: block;
        height: auto;
        margin: 40px auto 40px auto;
        max-width: 100%;
        padding: 0;
    }

    figcaption {
        margin-top: -30px;
    }

    code,
    tt {
        background-color: $color-white;
        color: $color-black;
        display: inline-block;
        font-size: 0.90em;
        font-weight: 400;
        margin: 0;
        padding: 0;
        white-space: pre;
    }

    hr {
        border-color: $color-gray;
        margin: 24px 0;
    }
}

.code {
    background-color: $color-light-gray-lighter-blue;
    border: 0;
    border-radius: 0;
    margin: 40px 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 16px 24px;

    @media (max-width: 767px) {
        margin: 30px 0;
        padding: 12px 16px;
    }

    .comment {
        color: $color-code-comment;
        font-style: italic;
    }

    .name {
        &.attribute {
            color: $color-code-attribute;
        }

        &.builtin {
            color: $color-code-keyword;
        }

        &.class {
            color: $color-code-class;
        }

        &.constant {
            color: $color-code-variable;
        }

        &.decorator {
            color: $color-code-decorator;
        }

        &.function {
            color: $color-code-class;
        }

        &.namespace {
            color: $color-code-class;
        }

        &.tag {
            color: $color-code-keyword;
        }

        &.variable {
            color: $color-code-variable;
        }
    }

    .literal {
        &.string {
            color: $color-code-string;

            &.escape {
                color: $color-code-escape;
            }

            &.other {
                color: $color-code-keyword;
            }

            &.single {
                color: $color-code-string;
            }

            &.symbol {
                color: $color-code-variable;
            }
        }
    }

    .keyword {
        color: $color-code-keyword;
    }
}

.math {
    color: $color-dark-gray;
    font-size: 1.7rem;
    margin: 20px 0 30px 0;

    @media (max-width: 767px) {
        font-size: 1.3rem;
        margin: 10px 0 20px 0;
    }
}

// scss-lint:disable SelectorFormat
.MathJax_Display {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 20px 0;
}

.citation,
.footnote {
    font-family: $font-bodycopy;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: -8px;

    td {
        padding-bottom: 8px;
    }

    .label {
        color: $color-black;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8rem;
    }
}

.blog-post-footer {
    border-top: 1px solid $color-gray;
    margin: 0 8px 4px 8px;
    padding: 20px 0 0 0;
}

.author {
    overflow: auto;
    padding: 10px 0;

    .picture {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.10);
        display: block;
        float: left;
        font-size: 1.6rem;
        font-weight: 600;
        height: 50px;
        line-height: 2.0rem;
        margin-right: 16px;
        width: 50px;
    }

    .title {
        color: $color-gray;
        font-weight: 300;
    }

    p {
        font-family: $font-regular;
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin: 5px 0 0 66px;
    }
}

.tags {
    color: $color-black;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.7rem;
    margin: 10px 0;

    .tag {
        &:after {
            content: " \00b7 ";
        }

        &:last-child:after {
            content: "";
        }
    }
}
