@import "constants";

.blog-post-picture {
    height: 380px;
    transform: scale(1.15);

    .wrapper {
        height: 100%;
    }

    .inner {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}

.blog-post-header {
    background-color: rgba(0, 0, 0, 0.55);
    bottom: 0;
    padding: 24px 0;
    position: absolute;
    width: 100%;

    .title {
        color: $color-white;
        font-size: 3.0rem;
        font-weight: 600;
        line-height: 3.4rem;
        margin: 0;
        padding: 0 8px;

        @media screen and (min-width: $break-large) {
            font-size: 5.2rem;
            line-height: 5.6rem;
        }
    }

    .subtitle {
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.0rem;
        margin: 8px 0 0 0;
        padding: 0 8px;

        @media screen and (min-width: $break-large) {
            font-size: 2.0rem;
            line-height: 2.4rem;
        }
    }
}


.blog-post-content {
    color: $color-black;
    margin: 16px 0 24px 0;
    overflow: hidden;
    padding: 0 8px;

    p,
    li {
        font-family: $font-bodycopy;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.2rem;

        @media screen and (min-width: $break-large) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }

    ul {
        padding-left: 20px;
    }

    a {
        color: $color-zalando;

        &:hover {
            text-decoration: none;
        }
    }

    h1 {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 2.6rem;
        margin: 36px 0 16px 0;

        @media screen and (min-width: $break-large) {
            font-size: 2.4rem;
            line-height: 2.8rem;
        }
    }

    h2 {
        font-size: 2.0rem;
        font-weight: 600;
        line-height: 2.4rem;
        margin: 36px 0 16px 0;

        @media screen and (min-width: $break-large) {
            font-size: 2.2rem;
            line-height: 2.6rem;
        }
    }

    img {
        height: auto;
        margin: 10px 0;
        width: 100%;
    }

    code {
        background-color: $color-light-gray-lighter;
        border-radius: 2px;
        color: $color-black;
        font-weight: 400;
    }

    pre {
        background-color: $color-light-gray-lighter;
        border: 0;
        border-radius: 2px;
        color: $color-black;
        font-weight: 400px;
        margin: 20px 0;
    }

    .author {
        padding: 16px 0;

        .picture {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.10);
            display: block;
            float: left;
            height: 50px;
            margin-right: 16px;
            width: 50px;
        }

        .title {
            color: $color-gray;
        }

        p {
            font-family: $font-regular;
            font-size: 1.6rem;
            line-height: 1.6rem;
            margin: 5px 0 0 66px;
        }
    }
}
