
@import "constants";


.default-button {
    display: block;
    background-color: $color-white;
    border: 1px solid $color-gray;
    border-radius: 4px;
    color: $color-dark-gray;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 4px 16px;

    &:hover {
        background-color: $color-dark-gray;
        color: $color-white;
    }

    &.color-transparent {
        border-color: $color-white;
        background-color: transparent;
        color: $color-white;

        &:hover {
            background-color: $color-white;
            color: $color-dark-gray;
        }
    }

    &.color-zalando {
        border-color: $color-zalando;
        background-color: $color-white;
        color: $color-zalando;

        &:hover {
            background-color: $color-zalando;
            color: $color-white;
        }
    }

    &.center {
        margin-left: auto;
        margin-right: auto;
    }
}
