
@import "constants";

button.default-button {
    background-color: $color-white;
    border: 1px solid $color-gray;
    border-radius: 4px;
    color: $color-dark-gray;
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 4px 16px;

    &:hover {
        background-color: $color-dark-gray;
        color: $color-white;
    }

    &.transparent {
        background-color: transparent;
        border-color: $color-white;
        color: $color-white;
        
        &:hover {
            background-color: $color-white;
            color: $color-dark-gray;
        }
    }
    
    &.center {
        margin-left: auto;
        margin-right: auto;
    }
}
