
@import "constants";

// card layout inspired from:
// http://www.google.com/design/spec/components/cards.html#cards-actions

.cards {
    margin-left: -3px;
    margin-right: -3px;
    padding: 0;
    text-align: center;

    &.job-types {
        margin-left: auto;
        margin-right: auto;
        max-width: 592px;
        width: 100%;
    }
}

.card-container {
    // padding: 0 0 10px 0;
    display: inline-block;
    margin: 8px;
    vertical-align: top;

    .category {
        color: $color-zalando;
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2.0rem;
        margin: 0 0 10px 0;
        text-align: center;
        text-decoration: none;
        transition: color $animation-duration;

        &:hover {
            color: $color-zalando;
        }
    }
}

.card {
    background-color: $color-white;
    border: 1px solid $color-light-gray-darker;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
    display: block;
    margin: 0;
    overflow: hidden;
    width: 280px;

    &.white {
        background: $bg-color-card-white;
    }

    &:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
        transform: scale(1.02, 1.02);
    }

    &.white:hover {
        background: $bg-color-card-white-hover;
    }

    // card media

    .media {
        background-position: center center;
        background-size: cover;
        height: 177px;

        a {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    &.blog {
        .media {
            background-image: url("/images/blog.jpg");
        }
    }

    &.job {
        .media {
            background-image: url("/images/job.jpg");
        }

        .content {
            height: 130px;
        }
    }

    &.opensource {
        .media {
            background-image: url("/images/opensource.jpg");
        }

        .content {
            height: 170px;
        }
    }

    &.job-type {
        height: 220px;
        width: 220px;

        @media (min-width: 768px) {
            height: 260px;
            width: 260px;
        }
    }

    &.job-type-not-looking-for-a-tech-job {
        background-color: $color-dark-gray;
        border-radius: 24px;
        height: 220px;
        width: 456px;

        @media (min-width: 768px) {
            width: 536px;
        }

        @media (max-width: 501px) {
            width: 220px;
        }
    }

    &.not-looking-for-a-tech-job {
        background-color: $color-dark-gray;
        border-radius: 24px;
        height: 409px;
    }

    &.radical-agility {

        .content {
            height: 130px;

            .title {
                color: $color-zalando;
                font-size: 3.0rem;
                margin: 0;
                text-align: center;
                text-transform: uppercase;
            }

            .text {
                color: $color-black;
                font-size: 1.4rem;
                font-weight: 300;
                margin: 0;
                padding: 16px 0 0 0;
                text-align: center;
            }
        }
    }

    // card content

    .content {
        // border: 1px solid $color-light-gray-darker;
        // border-width: 0 1px 1px 1px;
        border-radius: 0 0 2px 2px;
        color: $color-black;
        height: 230px;
        padding: 24px 8px;
        position: relative;
        text-align: left;

        .title {
            font-size: 1.4rem;
            line-height: 1.7rem;
            margin: 0 16px 16px 16px;
            text-transform: uppercase;

            a {
                color: $color-black;
            }
        }

        .subtitle {
            color: $color-dark-gray;
            font-size: 1.0rem;
            font-weight: 400;
            line-height: 1.2rem;
            margin: -8px 16px 22px 16px;
        }

        .text {
            font-size: 1.4rem;
            font-weight: 400;
            margin: 0 16px 16px 16px;
            max-height: 60px;
            overflow: hidden;
        }

        a {
            color: $color-zalando;
            transition: color $animation-duration;

            &:hover,
            &:focus {
                color: $color-zalando-lighter;
                text-decoration: none;
            }
        }

        .author {
            color: $color-dark-gray;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 0.03rem;
            margin: 0 16px;
        }

        .footer {
            bottom: 20px;
            color: $color-dark-gray;
            display: block;
            font-size: 1.2rem;
            font-style: italic;
            font-weight: 400;
            left: 8px;
            letter-spacing: 0.03rem;
            margin: 0 16px;
            position: absolute;
            right: 8px;
            z-index: 900;

            a {
                color: $color-zalando;
            }
        }

        .footer-position-bottom {
            bottom: 16px;
            display: block;
            left: 16px;
            position: absolute;
            right: 16px;
            z-index: 1000;
        }
    }

    .icon {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 80px;
        margin: 20px 0 0 0;
        width: 100%;

        &.autonomy {
            background-image: url("/images/ra_autonomy.png");
        }

        &.mastery {
            background-image: url("/images/ra_mastery.png");
        }

        &.purpose {
            background-image: url("/images/ra_purpose.png");
        }
    }
}
