
@import "constants";

html {
    font-size: 10px; // 1rem = 10px
}

body {
    background-color: $bg-color-header;
    font-family: $font-regular;
    font-weight: 600;
    letter-spacing: 0.06em;
    margin-top: 50px;
}

.bodycopy {
    font-family: $font-bodycopy;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.015em;
    line-height: 2.0rem;
}

.heading-1 {
    color: $color-zalando;
    font-size: 2.6rem;
    line-height: 3.0rem;
    margin: 0;
    padding: 0;

    @media (min-width: 768px) {
        font-size: 3.6rem;
        line-height: 4.0rem;
    }

    &.small {
        font-size: 2.4rem;
        font-weight: 300;
        letter-spacing: 0.030em;
        line-height: 2.6rem;
        padding: 0;
        text-transform: none;
    }
}

.element-spacing {
    margin: 0 0 $element-spacing 0;

    @media (min-width: 768px) {
        margin: 0 0 $medium-element-spacing 0;
    }
}

// cookie warning

.cookie-bar {
    background-color: $color-zalando;
    color: $color-white;
    display: table;
    height: 100px;
    text-align: center;
    width: 100%;

    .cookie-warning {
        display: table-cell;
        padding-left: 30px;
        padding-right: 30px;
        vertical-align: middle;

        a {
            color: $color-white;
            text-decoration: underline;
        }
    }

    .cookie-button {
        background: $color-zalando;
        border: 1px;
        border-color: $color-white;
        float: right;
        padding: 0 10px 0 0;
    }

    &.table-hidden {
        display: none;
    }
}

.sub-menu {
    margin-top: 16px;
}

.fullsize-container {
    padding: ($element-spacing + 8px) 0 8px 0;
    width: 100%;

    @media (min-width: 768px) {
        padding: ($medium-element-spacing + 20px) 0 20px 0;
    }

    &.white {
        background-color: $color-white;
        color: $color-black;
    }

    &.light-gray {
        background-color: $color-light-gray;
        color: $color-black;
    }

    &.gray {
        background-color: $color-gray;
        color: $color-white;
    }

    &.black {
        background-color: $color-black;
        color: $color-white;
    }

    &.philosophy {
        background-image: url("/images/philosophy.jpg");
        background-position: center top;
        background-size: cover;
        color: $color-white;
    }

    &.radical-agility {
        background-image: url("/images/radical_agility_bg.gif");
        background-position: center center;
        background-size: cover;

        .heading-1 {
            color: $color-white;
        }
    }
}

.fullsize-media {
    height: auto;
    max-height: 500px;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;

    video {
        height: auto;
        width: 100%;
    }

    &.home-video-bg {
        background-image: url("../images/home_video_bg.jpg");
        background-position: center center;
        background-size: cover;
    }

    &.picture-bg {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 380px;

        @media (max-width: 767px) {
            height: 320px;
        }

        &.home {
            background-image: url("../images/home-header-bg.jpg");
        }

        &.jobs-overview {
            background-image: url("../images/jobs-overview-header-bg.jpg");
            background-position: center 35%;
        }
    }
}

.teaser {
    background-color: transparent;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1000;

    .container {
        height: 100%;
        position: relative;
    }

    .overlay {
        display: block;
        height: 100%;
        position: relative;
    }

    .tech-zalando-logo {
        background-image: url("/images/tech_zalando_logo_white.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        float: left;
        height: 112px;
        margin: 0 20px 0 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 112px;

        @media (max-width: 767px) {
            display: none;
        }
    }

    .title {
        color: $color-white;
        display: block;
        float: left;
        font-size: 3.6rem;
        line-height: 4.0rem;
        margin: 0;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);

        @media (min-width: 768px) {
            font-size: 5.6rem;
            line-height: 6.4rem;
        }

        &.with-logo {
            margin: 0 0 0 132px;

            @media (max-width: 767px) {
                margin: 0;
            }
        }
    }

    .play-button {
        background-image: url("/images/play_button.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        float: right;
        height: 140px;
        margin: 0 50px 0 0;
        opacity: 0.75;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        top: 50%;
        transform: translateY(-50%);
        transition: height $animation-duration, width $animation-duration, opacity $animation-duration;
        width: 140px;

        @media (max-width: 767px) {
            height: 80px;
            margin: 0 5% 0 0;
            width: 80px;
        }

        &:hover {
            cursor: pointer;
            height: 160px;
            opacity: 1.0;
            width: 160px;
        }
    }
}

.home-video-bg {
    .tech-zalando-logo {
        display: none;
    }

    h1 {
        background-image: none;
        font-size: 3.2rem;
        line-height: 3.4rem;
        margin: 14px 0;
        padding: 0;
    }

    .play-button {
        height: 100px;
        margin: 0;
        width: 100px;
    }
}
