
@import "constants";

html {
    font-size: 10px; // 1rem = 10px
}

body {
    background-color: $color-light-gray;
    font-family: $font-regular;
    font-weight: 600;
    margin-top: 50px;
}

a {
    color: $color-zalando;
    transition: color $animation-duration;

    &:hover,
    &:active,
    &:focus {
        color: $color-zalando-lighter;
        text-decoration: none;
    }

    .anchor {
        display: block;
        position: relative;
        top: -70px;
        visibility: hidden;
    }
}

code,
kbd,
pre,
samp {
    font-family: Menlo, monospace;
    font-weight: 400;
    white-space: pre;
    word-wrap: normal;
}

blockquote {
    border: 0;
    font-size: 1.0em;
    margin: 0;
    padding: 0;
}

.bodycopy {
    font-family: $font-bodycopy;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.0rem;
}

.heading-1 {
    color: $color-zalando;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.0rem;
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-size: 3.2rem;
        line-height: 3.6rem;
    }

    @media (min-width: 321px) {
        text-align: center;
    }
}

.heading-2 {
    color: $color-black;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
    margin: -8px 0 0 0;
    padding: 0 10px;

    &.element-spacing {
        margin-top: -16px;
    }

    @media (min-width: 321px) {
        text-align: center;
    }
}

.seperator {
    background-color: $color-light-gray-darker;
    height: 1px;
    margin: 10px 0;
}

.element-spacing {
    margin: 0 0 $element-spacing 0;

    @media (min-width: 768px) {
        margin: 0 0 $medium-element-spacing 0;
    }
}

// cookie warning

.cookie-bar {
    background-color: $color-zalando;
    color: $color-white;
    display: table;
    height: 100px;
    text-align: center;
    width: 100%;

    .cookie-warning {
        display: table-cell;
        padding-left: 30px;
        padding-right: 30px;
        vertical-align: middle;

        a {
            color: $color-white;
            text-decoration: underline;
        }
    }

    .cookie-button {
        background: $color-zalando;
        border: 1px;
        border-color: $color-white;
        float: right;
        padding: 0 10px 0 0;
    }

    &.table-hidden {
        display: none;
    }
}

.sub-menu {
    margin-top: 16px;
}

.fullsize-container {
    padding: ($element-spacing + 8px) 0 8px 0;
    width: 100%;

    @media (min-width: 768px) {
        padding: ($medium-element-spacing + 20px) 0 20px 0;
    }

    &.white {
        background-color: $color-white;
        color: $color-black;
    }

    &.light-gray {
        background-color: $color-light-gray;
        color: $color-black;
    }

    &.gray {
        background-color: $color-gray;
        color: $color-white;
    }

    &.black {
        background-color: $color-black;
        color: $color-white;
    }

    &.philosophy {
        background-image: url("../images/philosophy.jpg");
        background-position: center top;
        background-size: cover;
        color: $color-white;
    }

    &.radical-agility {
        background-attachment: fixed;
        background-image: url("../images/radical_agility_bg.gif");
        background-position: center center;
        background-size: cover;

        .heading-1,
        .heading-2 {
            color: $color-white;
        }
    }
}

.fullsize-media {
    height: auto;
    max-height: 500px;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;

    video {
        height: auto;
        width: 100%;

        &.mobile {
            height: 320px;
        }
    }

    &.home-video-bg {
        background-image: url("../images/home_video_bg.jpg");
        background-position: center center;
        background-size: cover;
    }

    &.picture-bg {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 380px;

        @media (max-width: 767px) {
            height: 320px;
        }

        &.home {
            background-image: url("../images/home-header-bg.jpg");
        }

        &.jobs-overview {
            background-image: url("../images/jobs_header_2.jpg");
            background-position: center 30%;
        }
    }
}

.teaser {
    background-color: transparent;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1000;

    .content {
        height: 380px;
        position: relative;

        &.video {
            height: 500px;
        }

        @media (max-width: 767px) {
            height: 320px;
        }
    }

    .overlay {
        display: block;
        height: 100%;
        position: relative;
    }

    .tech-zalando-logo {
        background-image: url("/images/tech_zalando_logo_white.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        float: left;
        height: 112px;
        margin: 0 20px 0 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 112px;

        @media (max-width: 767px) {
            display: none;
        }
    }

    .title {
        color: $color-white;
        display: block;
        float: left;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 4.0rem;
        margin: 0;
        position: absolute;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);

        @media (min-width: 768px) {
            font-size: 5.6rem;
            line-height: 6.4rem;
        }

        &.with-logo {
            margin: 0 0 0 132px;

            @media (max-width: 767px) {
                margin: 0;
            }
        }
    }

    .play-button {
        background-image: url("/images/play_button.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        float: right;
        height: 140px;
        margin: 0 50px 0 0;
        opacity: 0.75;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        top: 50%;
        transform: translateY(-50%);
        transition: height $animation-duration, width $animation-duration, opacity $animation-duration;
        width: 140px;

        @media (max-width: 767px) {
            height: 80px;
            margin: 0 5% 0 0;
            width: 80px;
        }

        &:hover {
            cursor: pointer;
            height: 160px;
            opacity: 1.0;
            width: 160px;
        }
    }
}

.home-video-bg {
    .tech-zalando-logo {
        display: none;
    }

    h1 {
        background-image: none;
        font-size: 3.2rem;
        line-height: 3.4rem;
        margin: 14px 0;
        padding: 0;
    }

    .play-button {
        height: 100px;
        margin: 0;
        width: 100px;
    }
}

.interview {
    margin: -36px 0 0 0;
    padding: 0 10px;

    h1,
    h2 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.2rem;
        margin: 0;
        padding: 36px 0 16px 0;

        @media screen and (min-width: $break-large) {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }

    p {
        font-family: $font-bodycopy;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 2.2rem;
        margin: 0;

        @media screen and (min-width: $break-large) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }

    @media (max-width: 991px) {
        margin-top: 20px;
        padding: 0 2px;
    }
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    margin: -20px 0 0 0;
    padding: 0 10px;

    > li {
        @media (max-width: 320px) {
            display: block;
        }
    }
}

.relocation-service {
    h1 {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 2.6rem;
        margin: 10px 0 16px 0;
        text-align: center;
        text-transform: uppercase;
    }

    p {
        font-family: $font-bodycopy;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.0rem;
        text-align: center;
    }

    .icon {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 160px;
        margin: 40px auto 0 auto;
        width: 160px;
    }

    &.housing .icon {
        background-image: url("../images/relocation_housing.png");
    }

    &.visa .icon {
        background-image: url("../images/relocation_visa.png");
    }
}

.overlay-background {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity $medium-animation-duration;
    width: 100%;
    z-index: 5000;

    .video {
        background-color: $color-pure-black;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
        // display: none;
        height: 404px;
        margin: 100px auto 0 auto;
        position: relative;
        width: 716px;

        video {
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
        }

        .close-button {
            left: 736px;
            position: absolute;
            top: 10px;
        }
    }
}

.close-button {
    background-image: url("../images/close_button.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 19px;
    transition: transform $animation-duration;
    width: 19px;

    &:hover {
        transform: scale(1.2, 1.2);
    }
}

.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level {
    background-color: $color-zalando;
}
