
// This scss file customizes the greenhouse job application form within an iframe.
//
// Documentation from greenhouse (https://app.greenhouse.io/configure/dev_center/css_guide):
//
// Hosted Job Board CSS Guide
// --------------------------
// Overview
//
// Greenhouse allows you to provide a custom CSS stylesheet for your hosted or embedded job board. We provide override-able classes/selectors for most job board elements (e.g., headings, fonts, fields, buttons).
//
// Questions? Contact support@greenhouse.io and let us know how we can help.
//
// Common Styling
// --------------
// The following CSS selectors can be used to override elements on both pages:
//
// p – paragraph
// ul – unordered list
// ul li – list item
// .location – location of job
//
// Job Board Styling
// -----------------
// The following CSS selectors can be used to override elements specific to the job board:
//
// #wrapper – wraps the entire job board
// #board_title – job board title
// .opening a – job links
//
// Job Application Styling
// -----------------------
// The following CSS selectors can be used to override elements specific to the job application:
//
// #app_body - the application container
// #application – the application form container
// .app-title – job name
// .heading – the "Apply for this job" application container header
// .company-name – applies to "at YourCo"
// .field label – field labels (e.g.,"First Name")
// .field textarea – all textareas
// .field select – all select boxes
// .field input[type='text'] – all text boxes
// .button – applies to "Apply Now" and "Submit Application" buttons
// (NOTE: set "background-image: none;" to remove existing gradient)
// a, input[type='button'].link-like-button – applies to all regular page links

@import "constants";

html {
    font-size: 10px; // 1rem = 10px
}

#app_body {
    font-family: $font-regular;

    a {
        color: $color-zalando;
        transition: color $animation-duration;

        &:hover {
            color: $color-zalando-lighter;
            text-decoration: none;
        }
    }
}

#application {
    background-color: $color-white;
    padding: 6px 0 0 0;
}

.heading {
    display: none;
}

#main_fields,
#custom_fields {
    div.field {
        label {
            font-size: 1.2rem;
            font-weight: 300;
        }

        // hide phone input
        label[for=phone] {
            @media (max-width: 640px){
                display: none !important;
            }
        }
        
        input[type='text'],
        select {
            -webkit-appearance: none;
            background-color: $color-white;
            border: 2px solid $color-gray;
            border-radius: 0;
            font-family: $font-regular;
            font-size: 1.4rem;
            font-weight: 400;
            padding: 5px;
        }

        select {
            width: 100% !important;
        }
    }
}

// hide phone input
#phone {
    display: none;
}

#main_fields div.field label[for=phone] {
    @media (max-width: 640px){
        display: none !important;
    }
}


.required-fields {
    font-size: 1.2rem;
    font-weight: 300;
}

p {
    font-family: $font-bodycopy;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9rem;

    @media screen and (min-width: $break-large) {
        font-size: 1.3rem;
        line-height: 2.1rem;
    }
}

#submit_buttons {
    text-align: left;
}

#submit_app {
    -webkit-appearance: none;
    background-color: $color-zalando;
    background-image: none;
    border: 2px solid $color-zalando;
    border-radius: 0;
    color: $color-white;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    padding: 8px;
    text-shadow: none;
    text-transform: uppercase;

    @media (max-width: 640px) {
        width: 100% !important;
    }
}

.attach-or-paste .link-container a {
    @media (max-width: 640px) {
        background-color: transparent;
        background-image: none;
        border: 2px dotted $color-zalando !important;
        border-radius: 0;
        color: $color-zalando !important;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.8rem;
        text-transform: uppercase;
    }
}

.required-fields {
    margin-bottom: 12px;
}

#application_confirmation {
    h1 {
        color: $color-zalando;
        font-size: 2.0rem;
        font-weight: 600;
        line-height: 2.4rem;
        margin: 36px 0 16px 0;

        @media screen and (min-width: $break-large) {
            font-size: 2.2rem;
            line-height: 2.6rem;
        }
    }

    p {
        font-family: $font-bodycopy;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.2rem;

        @media screen and (min-width: $break-large) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
}

#view-more,
#submission_received > p {
    display: none;
}
