
@import "constants";

// header

header {
    margin: 0;

    &.navbar-default {
        background-color: $color-white;
        border: 0;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

        .navbar-nav > li > a {
            color: $color-black;
            padding-left: 12px;
            padding-right: 0;
            text-transform: uppercase;
            -webkit-transition: color $animation-duration, background-color $animation-duration;
            transition: color $animation-duration, background-color $animation-duration;
        }

        .navbar-nav > li > a:hover {
            background-color: $color-white;
            color: $color-zalando;
        }

        .navbar-nav > li > a:after {
            background-color: $color-gray;
            content: "";
            display: inline-block;
            height: 12px;
            margin-left: 12px;
            width: 1px;

            @media screen and (max-width: $break-large) {
                width: 0;
            }
        }

        .navbar-nav > li:last-child > a:after {
            width: 0;
        }

        .navbar-brand {
            background-image: url("/images/tech_zalando_logo_black.png");
            background-position: left center;
            background-repeat: no-repeat;
            background-size: contain;
            color: $color-black;
            font-size: 1.4rem;
            font-weight: 600;
            height: 30px;
            line-height: 1.6rem;
            margin: 10px 0 10px 10px;
            padding: 0 0 0 40px;
            width: 200px;
        }
    }
}

// header menu button

.navbar-default {
    .navbar-toggle {
        background-color: transparent;
        border: 0;

        &:hover,
        &:focus {
            background-color: transparent;
        }

        .icon-bar {
            transition: all 0.2s ease-in-out;

            &.bar-1 {
                transform: rotate(45deg) translateX(4.243px) translateY(4.243px);
            }

            &.bar-2 {
                opacity: 0.0;
            }

            &.bar-3 {
                transform: rotate(-45deg) translateX(4.243px) translateY(-4.243px);
            }
        }

        &.collapsed {

            .icon-bar {

                &.bar-3,
                &.bar-1 {
                    transform: none;
                }

                &.bar-2 {
                    opacity: 1.0;
                }
            }
        }
    }
}

// footer

footer {
    background-color: $color-black;
    padding: 20px 0;
}

.footer-group {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 24px;
    padding: 0 20px;

    .title {
        border-bottom: 1px solid $color-gray;
        color: $color-white;
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        padding-bottom: 3px;
        text-transform: uppercase;
    }

    ul {
        display: block;
        font-size: 1.2rem;
        font-weight: 300;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            margin: 0;
            padding: 4px 0;

            a {
                color: $color-white;

                &:hover {
                    color: $color-zalando;
                    text-decoration: none;
                }
            }
        }
    }
}

.social-icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 30px;
    text-indent: -9999px;
    width: 30px;

    &.twitter {
        background-image: url("/images/social_icon_twitter.png");
    }
    
    &.google-plus {
        background-image: url("/images/social_icon_googleplus.png");
    }
    
    &.instagram {
        background-image: url("/images/social_icon_instagram.png");
    }
    
    &.flickr {
        background-image: url("/images/social_icon_flickr.png");
    }
}
