@import "constants";

.jobs-header {
    .heading-1 {
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: 100px 100px;
        color: $color-black;
        padding: 30px 0 30px 110px;
        text-align: left;

        &.tech {
            background-image: url("../images/jobs-overview-engineering.png");
        }

        &.product {
            background-image: url("../images/jobs-overview-product.png");
        }

        &.data {
            background-image: url("../images/jobs-overview-data-analyst.png");
        }

        &.other {
            background-image: url("../images/jobs-overview-others.png");
        }
    }
}

.application-header {
    border-bottom: 1px solid $color-gray;
    margin: 0 0 16px 0;

    &.apply {
        @media (min-width: 768px) {
            height: 75px;
        }

        .heading-1 {
            color: $color-zalando;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 2.0rem;
            text-transform: none;
        }
    }

    .heading-1 {
        color: $color-black;
        margin-bottom: 8px;
        padding: 0;
        text-align: left;
    }

    .heading-2 {
        margin-bottom: 14px;
        padding: 0;
        text-align: left;
    }

    .locations {
        color: $color-dark-gray;
        display: block;
        float: right;
        font-size: 1.6rem;
        font-weight: 300;
        margin-left: 24px;

        @media (max-width: 767px) {
            // float: none;
        }
    }
}

.application-content {
    margin: 0 0 50px 0;

    p,
    li {
        font-family: $font-bodycopy;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.2rem;

        @media screen and (min-width: $break-large) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }

    li {
        background-image: url("../images/zalando_bullet.png");
        background-position: 2px 8px;
        background-repeat: no-repeat;
        background-size: 7px 7px;
        margin-bottom: 12px;
        padding-left: 24px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    h2 {
        font-size: 2.0rem;
        font-weight: 600;
        line-height: 2.4rem;
        margin: 36px 0 16px 0;

        @media screen and (min-width: $break-large) {
            font-size: 2.2rem;
            line-height: 2.6rem;
        }
    }

    a {
        color: $color-zalando;
        transition: color $animation-duration;

        &:hover {
            color: $color-zalando-lighter;
            text-decoration: none;
        }
    }
}

//
// Job applications
//

.job-application-form {
    position: relative;
}

.required-fields-hint {
    font-size: 1.2rem;
    font-weight: 300;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.required-field-asterisk {
    color: $color-required-field;
    font-size: 1.4rem;
}

.job-application-question {
    margin-bottom: 15px;
    overflow: auto;
}

.job-application-label {
    font-size: 1.2rem;
    font-weight: 300;
    width: 100%;
}

.job-application-input {
    -webkit-appearance: none;
    background-color: $color-white;
    border: 2px solid $color-gray;
    border-radius: 0;
    font-family: $font-regular;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    padding: 5px;
    width: 100%;
}

.job-application-file-upload {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.job-application-file {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 20px;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.job-application-textarea {
    height: 16rem;
}

.job-application-error {
    color: $color-required-field;
    margin-bottom: 1rem;
    width: 60%;
}

.jobapp-filename {
    font-weight: 300;
    margin-left: 1rem;
}

.jobapp-removefile {
    color: $color-gray;
    cursor: pointer;
    display: inline-block;
    line-height: 12px;
    text-align: center;
    width: 14px;
}

.job-application-btn {
    -webkit-appearance: none;
    background-color: $color-white;
    background-image: none;
    border: 2px dotted $color-zalando;
    border-radius: 0;
    color: $color-zalando;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    width: 100%;
}

.job-application-submit {
    -webkit-appearance: none;
    background-color: $color-zalando;
    background-image: none;
    border: 2px solid $color-zalando;
    border-radius: 0;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    width: 100%;
}

.job-application-submit:disabled {
    background-color: $color-light-gray-lighter;
}

.eu-privacy-consent-toggle {
    cursor: pointer;
}

.eu-privacy-consent {
    font-family: $font-bodycopy;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9rem;
}
