@import "constants";

.share-buttons {
    border-top: 1px solid $color-gray;
    margin: 8px;
    padding: 20px 0px 0px;
}

.share-button {
    background-position: 0.5rem center;
    background-repeat: no-repeat;
    color: $color-white;
    display: block;
    font-family: $font-regular;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 0.8rem 0.8rem 0.8rem 1.8rem;
    text-align: center;
    text-transform: uppercase;
}

.share-button-fb {
    background-color: $share-button-fb;
    background-image: url("../images/share_fb.png");
}

.share-button-tw {
    background-color: $share-button-tw;
    background-image: url("../images/share_tw.png");
}

.share-button-gp {
    background-color: $share-button-gp;
    background-image: url("../images/share_gp.png");
}

.share-button-li {
    background-color: $share-button-li;
    background-image: url("../images/share_li.png");
}
