
@import "constants";

body.tour-of-mastery {
    background-image: url("../images/tour_of_mastery/space_background.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.scene {
    .scene-wrapper {
        height: 60vh;
        position: relative;

        &.square {
            width: 60vh;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}

.scene-caption {
    .scene-wrapper {
        height: 20vh;
        position: relative;
    }

    .heading-2 {
        color: $color-white;
        display: block;
        font-family: $font-bodycopy;
        font-size: 2.6rem;
        font-weight: 300;
        line-height: 3.8rem;
        width: 100%;

        strong {
            color: $color-zalando;
            font-weight: 600;
        }

        @media (min-width: 768px) {
            font-size: 3.2rem;
            line-height: 4.6rem;
        }
    }
}

.text-wrapper,
.sprite-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
}

.sprite {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;

    // asteroids scene

    &.asteroid-1 {
        background-image: url("../images/tour_of_mastery/asteroid.svg");
        height: 20vh;
        left: 2%;
        top: 16vh;
        transform: rotate(-30deg);
        width: 20vw;
    }

    &.asteroid-2 {
        background-image: url("../images/tour_of_mastery/asteroid.svg");
        height: 8vh;
        left: 24%;
        top: 28vh;
        transform: rotate(40deg);
        width: 8vw;
    }

    &.asteroid-3 {
        background-image: url("../images/tour_of_mastery/asteroid.svg");
        height: 5vh;
        left: 34%;
        top: 20vh;
        transform: rotate(-10deg);
        width: 5vw;
    }

    &.asteroid-4 {
        background-image: url("../images/tour_of_mastery/asteroid.svg");
        height: 9vh;
        left: 42%;
        top: 20vh;
        width: 9vw;
    }

    &.asteroid-5 {
        background-image: url("../images/tour_of_mastery/asteroid.svg");
        height: 7vh;
        left: 63%;
        top: 25vh;
        transform: rotate(-100deg);
        width: 7vw;
    }

    &.asteroid-6 {
        background-image: url("../images/tour_of_mastery/asteroid.svg");
        height: 9vh;
        left: 70%;
        top: 16vh;
        transform: rotate(-20deg);
        width: 9vw;
    }

    &.asteroid-7 {
        background-image: url("../images/tour_of_mastery/asteroid.svg");
        height: 16vh;
        left: 76%;
        top: 21vh;
        transform: rotate(50deg);
        width: 16%;
    }

    &.flying-asteroid {
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: flying-asteroid;
        animation-timing-function: linear;
        background-image: url("../images/tour_of_mastery/flying_asteroid.svg");
        height: 16vh;
        left: 40%;
        top: 25vh;
        width: 16%;
    }

    // rocket launch scene

    &.space-station {
        background-image: url("../images/tour_of_mastery/space_station.svg");
        height: 10vh;
        left: 20%;
        top: 35vh;
        width: 60%;
    }

    &.rocket-fire {
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: start-engine;
        animation-timing-function: linear;
        background-image: url("../images/tour_of_mastery/rocket_fire.svg");
        height: 10vh;
        left: 50%;
        top: 30vh;
        width: 30%;
    }

    &.rocket-empty {
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: prepare-engine;
        animation-timing-function: linear;
        background-image: url("../images/tour_of_mastery/rocket_empty.svg");
        height: 20vh;
        left: 35%;
        top: 18vh;
        width: 60%;
    }

    &.astronaut-2 {
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: astronaut-getting-in;
        animation-timing-function: linear;
        background-image: url("../images/tour_of_mastery/astronaut.svg");
        height: 12vh;
        left: 35%;
        top: 24vh;
        width: 60%;
    }

    // flying rocket

    &.rocket-2-fire {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: burning-fire;
        animation-timing-function: linear;
        background-image: url("../images/tour_of_mastery/rocket_fire.svg");
        height: 10vh;
        left: 35%;
        top: 24vh;
        width: 30%;
    }

    &.rocket-2-full {
        background-image: url("../images/tour_of_mastery/rocket_empty.svg");
        height: 20vh;
        left: 20%;
        top: 8vh;
        width: 60%;
    }

    &.yellow-glow {
        background-image: url("../images/tour_of_mastery/yellow_glowing.svg");
        height: 40vh;
        left: 20%;
        top: 10vh;
        width: 60%;
    }

    &.smoke-1 {
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: floating-smoke-1;
        animation-timing-function: linear;
        background-image: url("../images/tour_of_mastery/smoke_grey.svg");
        height: 30vh;
        left: 10%;
        top: 15vh;
        width: 80%;
    }

    &.smoke-2 {
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: floating-smoke-2;
        animation-timing-function: linear;
        background-image: url("../images/tour_of_mastery/smoke_white.svg");
        height: 30vh;
        left: 15%;
        top: 15vh;
        width: 70%;
    }

    // planets

    &.blue-glow {
        background-image: url("../images/tour_of_mastery/blue_glowing.svg");
        height: 50vh;
        left: 10%;
        top: 5vh;
        width: 80%;
    }

    &.main-planet {
        background-image: url("../images/tour_of_mastery/main_planet.svg");
        height: 40vh;
        left: 20%;
        top: 10vh;
        width: 60%;
    }

    &.planet-1 {
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: planet-jump-in-2;
        animation-timing-function: ease-in;
        background-image: url("../images/tour_of_mastery/planet_1.svg");
        height: 15vh;
        left: 70%;
        opacity: 0;
        top: 35vh;
        width: 25%;
    }

    &.planet-2 {
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: planet-jump-in-1;
        animation-timing-function: ease-in;
        background-image: url("../images/tour_of_mastery/planet_2.svg");
        height: 10vh;
        left: 2%;
        opacity: 0;
        top: 25vh;
        width: 18%;
    }

    &.planet-3 {
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: planet-jump-in-4;
        animation-timing-function: ease-in;
        background-image: url("../images/tour_of_mastery/planet_3.svg");
        height: 8vh;
        left: 75%;
        opacity: 0;
        top: 17vh;
        width: 15%;
    }

    &.planet-4 {
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: planet-jump-in-3;
        animation-timing-function: ease-in;
        background-image: url("../images/tour_of_mastery/planet_4.svg");
        height: 8vh;
        left: 23%;
        opacity: 0;
        top: 8vh;
        width: 15%;
    }

    &.planet-5 {
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: planet-jump-in-5;
        animation-timing-function: ease-in;
        background-image: url("../images/tour_of_mastery/planet_5.svg");
        height: 4vh;
        left: 30%;
        opacity: 0;
        top: 42vh;
        width: 7%;
    }

    // filling helmet

    &.helmet-1 {
        background-image: url("../images/tour_of_mastery/helmet_knowledge.svg");
        height: 20vh;
        left: 35%;
        top: 20vh;
        width: 30%;
    }

    // satellite

    &.earth {
        background-image: url("../images/tour_of_mastery/planet_earth.svg");
        height: 24vh;
        left: 35%;
        top: 18vh;
        width: 30%;
    }

    &.satellite {
        background-image: url("../images/tour_of_mastery/satellite.svg");
        height: 24vh;
        left: 60%;
        top: 0;
        width: 30%;
    }

    &.moon-1 {
        background-image: url("../images/tour_of_mastery/moon_small.svg");
        height: 7vh;
        left: 25%;
        top: 40vh;
        width: 11%;
    }

    // ufo

    &.ufo {
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-name: ufo-fly-in;
        animation-timing-function: linear;
        background-image: url("../images/tour_of_mastery/ufo.svg");
        height: 40%;
        left: 20%;
        top: 6%;
        width: 60%;
    }

    &.laser-beam {
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-name: ufo-laser;
        animation-timing-function: linear;
        background-image: url("../images/tour_of_mastery/laser_up.svg");
        height: 70%;
        left: 25%;
        top: 25.5%;
        width: 50%;
    }

    
    &.astronaut-beamed-up {
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-name: ufo-beaming;
        animation-timing-function: ease-in;
        background-image: url("../images/tour_of_mastery/astronaut.svg");
        height: 20%;
        left: 40%;
        top: 65%;
        width: 20%;
    }

    // aliens

    &.alien-1 {
        background-image: url("../images/tour_of_mastery/alien_1.svg");
        height: 30%;
        left: 15%;
        top: 50%;
        width: 20%;
    }

    &.alien-2 {
        background-image: url("../images/tour_of_mastery/alien_2.svg");
        height: 40%;
        left: 37%;
        top: 35%;
        width: 15%;
    }

    &.alien-3 {
        background-image: url("../images/tour_of_mastery/alien_3.svg");
        height: 50%;
        left: 45%;
        top: 40%;
        width: 40%;
    }

    // moon walk

    &.blue-glow-2 {
        background-image: url("../images/tour_of_mastery/blue_glowing.svg");
        height: 70%;
        left: 15%;
        top: 25%;
        width: 70%;
    }

    &.moon-2 {
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-name: rotate;
        animation-timing-function: linear;
        background-image: url("../images/tour_of_mastery/moon_small.svg");
        height: 40%;
        left: 30%;
        top: 40%;
        width: 40%;
    }

    &.astronaut-with-flag {
        background-image: url("../images/tour_of_mastery/astronaut_with_flag.svg");
        height: 40%;
        left: 25%;
        top: 6%;
        width: 40%;
    }

    // Helmet

    &.helmet-2 {
        background-image: url("../images/tour_of_mastery/helmet_knowledge.svg");
        height: 50%;
        left: 25%;
        top: 25%;
        width: 50%;
    }

    &.reflection-1 {
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-name: scale-up;
        animation-timing-function: ease-in;
        background-image: url("../images/tour_of_mastery/universe_reflection.svg");
        height: 34%;
        left: 32.5%;
        top: 35%;
        width: 34%;
    }

    &.reflection-2 {
        background-image: url("../images/tour_of_mastery/helmet_knowledge_refelction.svg");
        height: 17%;
        left: 32%;
        top: 42%;
        width: 17%;
    }
}

// animations

@keyframes flying-asteroid {
    0% {
        opacity: 0;
        transform: translate(-120px, 80px);
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
        transform: translate(240px, -160px);
    }

    100% {
        opacity: 0;
    }
}

@keyframes astronaut-getting-in {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    10% {
        opacity: 1;
        transform: translateX(-50%);
    }

    30% {
        opacity: 1;
        transform: translateX(0%);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes prepare-engine {
    40% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-0.5px);
    }

    52% {
        transform: translateX(1px);
    }

    54% {
        transform: translateX(-1px);
    }

    56% {
        transform: translateX(1px);
    }

    58% {
        transform: translateX(-2px);
    }

    60% {
        transform: translateX(2px);
    }

    62% {
        transform: translateX(-2px);
    }

    64% {
        transform: translateX(2px);
    }

    66% {
        transform: translateX(-3px);
    }

    68% {
        transform: translateX(3px);
    }

    70% {
        transform: translateX(-2px);
    }

    72% {
        transform: translateX(2px);
    }

    74% {
        transform: translateX(-1px);
    }

    76% {
        transform: translateX(0.5px);
    }

    78% {
        transform: translateX(0);
    }
}

@keyframes start-engine {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    60% {
        opacity: 0;
        transform: translateY(-40px);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floating-smoke-1 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    25% {
        opacity: 0.8;
        transform: translateX(5px) rotate(-1deg);
    }

    75% {
        opacity: 0.6;
        transform: translateX(-5px) rotate(1deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes floating-smoke-2 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    25% {
        opacity: 0.6;
        transform: translateX(-5px) rotate(2deg);
    }

    75% {
        opacity: 0.8;
        transform: translateX(5px) rotate(-2deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes burning-fire {
    0% {
        opacity: 1;
        transform: rotate(0);
    }

    10% {
        opacity: 0.8;
        transform: rotate(2deg);
    }

    20% {
        opacity: 1.0;
        transform: rotate(-2deg);
    }

    30% {
        opacity: 0.6;
        transform: rotate(1deg);
    }

    40% {
        opacity: 1.0;
        transform: rotate(-1deg);
    }

    50% {
        opacity: 0.9;
        transform: rotate(1deg);
    }

    60% {
        opacity: 1.0;
        transform: rotate(-1deg);
    }

    70% {
        opacity: 0.8;
        transform: rotate(2deg);
    }

    80% {
        opacity: 1.0;
        transform: rotate(-2deg);
    }

    90% {
        opacity: 0.6;
        transform: rotate(1deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0);
    }
}

@keyframes planet-jump-in-1 {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    5% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes planet-jump-in-2 {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    5% {
        opacity: 0;
        transform: translateY(-200%);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes planet-jump-in-3 {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    10% {
        opacity: 0;
        transform: translateY(-200%);
    }

    15% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes planet-jump-in-4 {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    15% {
        opacity: 0;
        transform: translateY(-200%);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes planet-jump-in-5 {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    20% {
        opacity: 0;
        transform: translateY(-200%);
    }

    25% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

// ufo

@keyframes ufo-fly-in {
    0% {
        opacity: 1;
        transform: translateX(-400%);
    }

    10%, 98% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(0);
    }
}

@keyframes ufo-laser {
    0%, 10% {
        opacity: 0;
    }

    20%, 98% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ufo-beaming {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(0) scale(1, 1);
    }

    2%, 25% {
        opacity: 1;
        transform: translateY(0) rotate(0) scale(1, 1);
    }

    60% {
        opacity: 1;
        transform: translateY(-250%) rotate(70deg) scale(0.6, 0.6);
    }

    62%, 100% {
        opacity: 0;
        transform: translateY(-250%) rotate(70deg) scale(0.6, 0.6);
    }
}

// moon walk

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// helmet

@keyframes scale-up {
    0% {
        opacity: 1;
        transform: scale(0, 0);
    }

    80% {
        opacity: 1;
        transform: scale(1, 1);
    }

    98% {
        opacity: 1;
        transform: scale(1, 1);
    }

    100% {
        opacity: 0;
        transform: scale(1, 1);
    }
}
